.city
	form.city__inner(action='/', method='get', autocomplete='off')
		.city__head
			.inner
				.city__head-field
					.city__head-title ВЫБОР ГОРОДА
				.city__head-field
					.search
						input.search-input.js-cities-search(type='text', name='search', placeholder="Найти свой город")
						.search-ico: include ../../img/svg/ico_lens.svg
						.search-clear: include ../../img/svg/ico_close.svg
				.city__head-field
					.btn-group
						.btn.btn_small.is-active(data-tab-link="city_alphabet", data-tab-group="city") Алфавит
						.btn.btn_small(data-tab-link="city_region", data-tab-group="city") Регион
				.city__head-field
					.form__field
						.form__input
							label
								input(type='checkbox', name='alloverrussia', data-require='true').js-cities-hold
								.form__label Искать по всей России

				.city__head-field
					.city__head-close.js-cities
						| Закрыть
						i.ico: include ../../img/svg/ico_close.svg

		.city__content
			.js-scrollbar
				.inner(data-tab-target="city_alphabet", data-tab-group="city").is-active
					.city__list
						+cityGroup('A', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Б', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('В', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Г', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Д', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Е', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ж', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('З', ['Заволжье', 'Закамск', 'Зеленогорск', 'Зеленоград', 'Зеленодольск', 'Зеленокумск', 'Златоуст', 'Знаменск'])
						+cityGroup('И', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Й', ['Йошкар-Ола'], true)
						+cityGroup('К', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Л', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Н', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('О', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('П', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Р', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('С', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Т', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('У', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ф', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Х', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ц', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ч', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ш', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Щ', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Э', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Ю', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityGroup('Я', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])


				.inner(data-tab-target="city_region", data-tab-group="city")
					.city__alphabet
						.city__alphabet-item А
						.city__alphabet-item Б
						.city__alphabet-item В
						.city__alphabet-item Г
						.city__alphabet-item Д
						.city__alphabet-item Е
						.city__alphabet-item Ж
						.city__alphabet-item З
						.city__alphabet-item И
						.city__alphabet-item Й
						.city__alphabet-item К
						.city__alphabet-item Л
						.city__alphabet-item Н
						.city__alphabet-item О
						.city__alphabet-item П
						.city__alphabet-item Р
						.city__alphabet-item С
						.city__alphabet-item Т
						.city__alphabet-item У
						.city__alphabet-item Ф
						.city__alphabet-item Х
						.city__alphabet-item Ц
						.city__alphabet-item Ч
						.city__alphabet-item Ш
						.city__alphabet-item Щ
						.city__alphabet-item Э
						.city__alphabet-item Ю
						.city__alphabet-item Я

					.city__region
						+cityRegion('Алтайский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'], true)
						+cityRegion('Амурская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Архангельская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Астраханская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Белгородская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Брянская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Владимирская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Волгоградская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Вологодская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Воронежская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Еврейская автономная область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Забайкальский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ивановская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Иркутская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Кабардино-Балкарская Республика', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Калининградская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Калужская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Камчатский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Карачаево-Черкесская Республика', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Кемеровская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Кировская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Костромская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Краснодарский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Красноярский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Курганская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Курская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ленинградская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Липецкая область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Магаданская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Московская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Мурманская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ненецкий автономный округ', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Нижегородская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Новгородская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Новосибирская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Омская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Оренбургская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Орловская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Пензенская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Пермский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Приморский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Псковская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Адыгея (Адыгея)', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Алтай', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Башкортостан', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Бурятия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Дагестан', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Ингушетия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Калмыкия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Карелия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Коми', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Крым', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Марий Эл', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Мордовия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Саха (Якутия)', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Северная Осетия - Алания', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Татарстан (Татарстан)', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Тыва', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Республика Хакасия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ростовская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Рязанская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Самарская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Санкт-Петербург', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Саратовская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Сахалинская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Свердловская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Севастополь', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Смоленская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ставропольский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Тамбовская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Тверская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Томская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Тульская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Тюменская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Удмуртская Республика', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ульяновская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Хабаровский край', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ханты-Мансийский автономный округ - Югра', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Челябинская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Чеченская Республика', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Чувашская Республика - Чувашия', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Чукотский автономный округ', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ямало-Ненецкий автономный округ', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])
						+cityRegion('Ярославская область', ['Абакан', 'Азнакеево', 'Азов', 'Алатырь', 'Александров', 'Алексин', 'Альметьевск', 'Анапа', 'Арзамас', 'Армавир', 'Арск', 'Астрахань', 'Аткарск', 'Ахтубинск', 'Ачинск'])

