.ticker
	.ticker__wrap
		-for (var i = 0; i < 7; i++)
			.ticker__item
				.ticker__inner(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=123")
					.ticker__name ASD QWE
					.ticker__up
					.ticker__value 80.87
					.ticker__value.c-red -0.87
			.ticker__item
				.ticker__inner(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=311")
					.ticker__name ASD QWE
					.ticker__down
					.ticker__value 80.87
					.ticker__value.c-green +0.87
			.ticker__item
				.ticker__inner(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545")
					.ticker__name ASD QWE
					.ticker__value 80.87
					.ticker__value 0.87

.finance
	.inner
		.finance__close.js-close-finance
			| Закрыть
			i.ico: include ../../img/svg/ico_close.svg
		.finance__title Котировки
		.finance__menu
			.form__field
				.form__input
					select
						option(value='0', selected) Курсы валют
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=545') 20
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=545') 50

			.form__field
				.form__input
					select
						option(value='0', selected) Юиржевые индексы
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=545') 20
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=545') 50

			.form__field
				.form__input
					select
						option(value='0', selected) Акции
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=756456545') 20
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=yrty545') 50

			.form__field
				.form__input
					select
						option(value='0', selected) Сырье
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=546755') 20
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=54355') 50

			.form__field
				.form__input
					select
						option(value='0', selected) Цены на бензин
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=5r45') 20
						option(value='http://headerlink.maestros.ru/data/finance.php?chart=5455') 50


			.form__field
				.form__text.js-more-finance.c-blue.link Еще



		.finance__subtitle &nbsp;

		.finance__range
			.finance__range-item(data-chart-range="0") Сегодня
			.finance__range-item(data-chart-range="7").is-active Неделя
			.finance__range-item(data-chart-range="30") Месяц
			.finance__range-item(data-chart-range="365") Год

		.finance__view

			.finance__chart
				.finance__chart-item

			.finance__list
				.finance__list-title За последние 10 дней
				.finance__list-table

.finance__more
	.inner
		.finance__more-inner
			.finance__more-back.js-finance-back
				i.ico: include ../../img/svg/ico_back.svg
				| Назад

			.finance__more-list
				.finance__more-group
					.finance__more-title Биржевые курсы
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-title Кросс-курсы
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Биржевые индексы
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Акции
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Курсы валют ЦБ РФ
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Цены на бензин
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-title Курсы биткойна
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Биржевые курсы
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-title Биржевые курсы
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF



				.finance__more-group
					.finance__more-title Курсы валют НБ Украины
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF


				.finance__more-group
					.finance__more-title Курсы валют НБ Республики Беларусь
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF


				.finance__more-group
					.finance__more-title Курсы валют НБ Республики Казахстан
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR MOEX
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") EUR/USD
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/JPY
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/EUR
					.finance__more-item: span.link(data-chart="http://headerlink.maestros.ru/data/finance.php?chart=545") USD/CHF


