footer.footer
	.footer__row.footer__row_top
		.inner
			.footer__nav
				.footer__nav-item: a(href='#').footer__nav-link Объявления
				.footer__nav-item: a(href='#').footer__nav-link Компании
				.footer__nav-item: a(href='#').footer__nav-link Биржа заголовков
				.footer__nav-item: a(href='#').footer__nav-link Для бизнеса
				.footer__nav-item: a(href='#').footer__nav-link Техподдержка
				.footer__nav-item: a(href='#').footer__nav-link Карта сайта
			.footer__soc
				a(href='#').footer__soc-item: include ../../img/svg/soc_facebook.svg
				a(href='#').footer__soc-item: include ../../img/svg/soc_twitter.svg
				a(href='#').footer__soc-item: include ../../img/svg/soc_youtube.svg
	.footer__row.footer__row_middle
		.inner
			.footer__rules При цитировании информации ссылка на сайт с указанием адреса сайта обязательна. Полное заимствование документов является нарушением российского и международного законодательства и возможно только с согласия руководства Headerlink.
	.footer__row.footer__row_bottom
		.inner
			.footer__logo: img(src='../img/svg/logo.svg')
			.footer__payment
				.footer__payment-item: img(src='../img/payment/icon_qiwi.svg')
				.footer__payment-item: img(src='../img/payment/icon_visa.svg')
				.footer__payment-item: img(src='../img/payment/icon_mastercard.svg')
				.footer__payment-item: img(src='../img/payment/icon_yandex.svg')
			.footer__copy
				.footer__copy-item.footer__copy-item_c © «Хедерлинк», 2017
				.footer__copy-item: a(href='#') Условия использования ресурса
				.footer__copy-item: a(href='#') Политика конфидециальности