header.header
	.inner
		.header__top
			a.header__logo(href='/', title="На главную страницу", style="padding-left:0")
				img.main(src='../img/svg/logo_new.svg')
				img.hover(src='../img/svg/logo_to_home.svg')
				//-.header__logo-pict: img(src='../img/svg/logo_sml.svg')
				//-.header__logo-word: img(src='../img/svg/logo.svg')
				//-.header__logo-text Доска бизнес предложений России №1
			.header__search
				form(action='http://headerlink.maestros.ru/data/search.php', method='post', autocomplete='off').search
					input.search-input(type='text', name='search')
					.search-ico: include ../../img/svg/ico_lens.svg
					.search-clear: include ../../img/svg/ico_close.svg
					.search-result.js-scrollbar
						.result
						//-.result
							.result-title Объявления #[span.result-amount 167 456 6]
							.result-list
								.result-item
									a(href='#')
										.result-item-photo: img(src='http://headerlink.maestros.ru/img/picture.jpg')
										.result-item-text
											p Продаём #[span.c-blue что-то ищу] трактор Беларусь какой-то длинный заголовок максимально в 3 строчки (70 символов)
											p 999 999 000 ₽, #[span.result-amount шт.]
										.result-item-ico
											.ico: img(src='../img/svg/mark_statistics.svg')
											.ico: img(src='../img/svg/mark_sale.svg')
								.result-item
									a(href='#')
										.result-item-photo: img(src='http://headerlink.maestros.ru/img/picture.jpg')
										.result-item-text
											p Продаём #[span.c-blue что-то ищу] трактор Беларусь какой-то длинный заголовок максимально в 3 строчки (70 символов)
											p 999 999 000 ₽, #[span.result-amount шт.]
										.result-item-ico
											.ico
											.ico
								.result-item
									a(href='#')
										.result-item-photo: img(src='http://headerlink.maestros.ru/img/picture.jpg')
										.result-item-text
											p Продаём #[span.c-blue что-то ищу] трактор Беларусь какой-то длинный заголовок максимально в 3 строчки (70 символов)
											p 999 999 000 ₽, #[span.result-amount шт.]
										.result-item-ico
											.ico
											.ico
							.result-all: a(href='#') ВСЕ ОБЪЯВЛЕНИЯ
							hr
							.result-title Разделы #[span.result-amount 167 456 6]
							.result-list
								.result-link: a(href='#') Абакан
								.result-link: a(href='#') Арзамас
								.result-link: a(href='#') Алексин
							.result-all: a(href='#') ВСЕ РАЗДЕЛЫ

			.header__location.js-cities
				.header__location-ico: include ../../img/svg/ico_geolocation.svg
				.header__location-name Санкт-Петербург
			.header__action: a.btn.btn_green(href='#') Подать объявление

			if ( login )

				.header__auth
					.header__auth-ico.js-dropdown
						.header__auth-ico-item.js-dropdown-open
							include ../../img/svg/ico_message.svg
							.header__auth-ico-count 99+

						.header__dropdown
							.header__dropdown-head
								.header__dropdown-setting: include ../../img/svg/ico_settings.svg
								.header__dropdown-title Сообщения
								.header__dropdown-remove: include ../../img/svg/ico_basket.svg

							.header__dropdown-tabs
								.header__dropdown-tabitem.is-active(data-tab-group='user_adverts', data-tab-link='all') ВСЕ (24)
								.header__dropdown-tabitem(data-tab-group='user_adverts', data-tab-link='fav') ИЗБРАННОЕ (356)
								.header__dropdown-tabitem(data-tab-group='user_adverts', data-tab-link='emp') СОТРУДНИКИ (6)

							.header__dropdown-content.js-scrollbar
								.header__dropdown-inner(data-tab-group='user_adverts', data-tab-target='all').is-active
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '4 минуты назад')
									+notificationMessage(2, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', 'Три часа назад')
									+notificationMessage(2, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '22:38')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '23 апр')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '22:38')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '23 апр')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '22:38')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '23 апр')
									+notificationMessage(1, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '22:38')
									+notificationMessage(2, true, 'Константин Константинопольский', 'Переписка, тут отражается последнее присланное сообщение из всех сообщений', '23 апр')
								.header__dropdown-inner(data-tab-group='user_adverts', data-tab-target='fav')
									.header__dropdown-message: span Все оповещения прочитаны
								.header__dropdown-inner(data-tab-group='user_adverts', data-tab-target='emp') 3

							.header__dropdown-footer
								.btn.btn_link ВСЕ СООБЩЕНИЯ

					.header__auth-ico.js-dropdown
						.header__auth-ico-item.js-dropdown-open
							include ../../img/svg/ico_notifications.svg
							.header__auth-ico-count 11


						.header__dropdown
							.header__dropdown-head
								.header__dropdown-setting: include ../../img/svg/ico_settings.svg
								.header__dropdown-title Оповещения
								.header__dropdown-remove: include ../../img/svg/ico_basket.svg

							.header__dropdown-content.js-scrollbar
								.header__dropdown-inner
									+notificationAdvert('Продаётся отслеживаемый заголвок <a href="#">"Купить трактор в Санкт-Петербурге"</a>', 'Только что')
									+notificationAdvert('Продаётся отслеживаемый заголвок <a href="#">"Купить трактор"</a>', 'Только что')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')
									+notificationAdvert('<a href="#">РВК Северо-Запад</a> прислал вам сообщение', '4 минуты назад')
									+notificationAdvert('Вашу компанию добавили в избранное <a href="#">РВК Северо-Запад</a>', 'Три часа назад')



							.header__dropdown-footer
								.btn.btn_link ВСЕ ОПОВЕЩЕНИЯ


					.header__auth-user.js-dropdown
						.header__auth-user-logo.js-dropdown-open: img.img-contain(src='../img/mburns.png')
						.header__auth-user-name.js-dropdown-open adrestut@pochta.ru

						.header__dropdown
							.header__dropdown-head
								.header__dropdown-setting: include ../../img/svg/ico_settings.svg
								.header__dropdown-title Аккаунт

							.header__dropdown-content
								.header__dropdown-menu
									ul
										li: a(href='#') Мой аккаунт
										li: a(href='#') Объявления
										li: a(href='#') Витрина
										li: a(href='#') Заголовки
										li: a(href='#') Диалоги
										li: a(href='#') Филиалы
										li: a(href='#') Новости
										li: a(href='#') Записная книга
										li: a(href='#') Сотрудники
										li: a(href='#') Статьи
										li: a(href='#') Оповещения
										li: a(href='#') Баланс

							.header__dropdown-footer
								.btn.btn_link ВЫЙТИ
			else
				.header__auth
					.btn.btn_blue(data-popup-open="#popupAuth") Вход и регистрация

		.header__nav
			.header__nav-item: a(href='#').btn.btn_blue.header__nav-link Потребительские товары
			.header__nav-item: a(href='#').btn.btn_blue.header__nav-link Товары для бизнеса
			.header__nav-item: a(href='#').btn.btn_blue.header__nav-link Услуги
			.header__nav-item: a(href='#').btn.btn_blue.btn_darken.header__nav-link Объявления
			.header__nav-item: a(href='#', data-tooltip="Раздел находится в разработке").btn.btn_disabled.header__nav-link Витрины
			.header__nav-item: a(href='#').btn.btn_blue.btn_darken.header__nav-link Новости
			.header__nav-item: a(href='#').btn.btn_blue.btn_darken.header__nav-link Статьи
			.header__nav-item: a(href='#').btn.btn_blue.btn_darken.header__nav-link Города
			.header__nav-item: a(href='#').btn.btn_blue.btn_darken.header__nav-link Компании
			
	include city

				
include finance