mixin passComplex()
	._tooltip-content
		.tooltip-fieldnote
			.title Как выбрать пароль?
			.notetitle Вы можете подобрать надежный пароль #[br]следуя нашим рекомендациям

			.subtitle Уровень надежности

			.complex
				.complex__item
					.complex__value.c-red Непригодный
					.complex__text Пароль не отвечает требованиям
				.complex__item
					.complex__value.c-red #[i.color]#[i]#[i] Слабый
					.complex__text Пароль не достаточно безопасный
				.complex__item
					.complex__value.c-yellow #[i.color]#[i.color]#[i] Хороший
					.complex__text Пароль достаточно безопасный
				.complex__item
					.complex__value.c-green #[i.color]#[i.color]#[i.color] Отличный
					.complex__text Пароль очень безопасный

			.subtitle Наши рекомендации

			ul
				li Пароль должен быть комбинацией из 6 ~ 15 букв (прописные / строчные), цифр и символов без пробелов.
				li Используемые символы
					p.c-blue ! ? $ % & ( ) * + , - . / : ; < > = ? @ # [ \ ] ^ _ { | } ~
				li В пароле не может использоваться пароль.
				li Не используйте комбинацию из 4 и более повторяющихся букв и цифр.
				li Не используйте в качестве пароля ваш номер телефона ли e-mail.



mixin notificationAdvert(title, time)
	.notification__item.notification__item_advert
		.notification__item-image
			.notification__item-logo
				.notification__item-preview: img.img-contain(src='../img/mburns.png')
		.notification__item-content
			.notification__item-title!= title
			.notification__item-note= time

mixin notificationMessage(members, online, name, text, time)
	.notification__item.notification__item_message
		.notification__item-image
			.notification__item-logo(class= 'notification__item-logo_' + members)
				- for (var i = 0; i < members; i++)
					.notification__item-preview: img.img-contain(src='../img/mburns.png')
			.notification__item-status(class= online ? 'is-online' : '')
		.notification__item-content
			.notification__item-title= name
			.notification__item-text= text
			.notification__item-note= time

mixin cityGroup(word, names, disabled)
	.city__list-group
		.city__list-title= word
		.city__list-names
			each name in names
				label.city__list-item
					input(type='checkbox', name= name, data-city-name= name, disabled=disabled)
					if ( disabled )
						span.btn.btn_small(data-tooltip="В данном городе нет объявлений")= name
					else
						span.btn.btn_small= name


mixin cityRegion(word, names, disabled)
	.city__region-group
		.city__region-title
			label.city__region-item
				input(type='checkbox', name= word, disabled=disabled)
				if (disabled)
					span.btn.btn_small(data-tooltip="В данном регионе нет объявлений")= word
				else
					span.btn.btn_small= word

		.city__region-names
			each name in names
				label.city__region-item
					input(type='checkbox', name= name, data-city-name= name, disabled=disabled)
					if ( disabled )
						span.btn.btn_small(data-tooltip="В данном городе нет объявлений")= name
					else
						span.btn.btn_small= name


//-		advert
//-		poster
//-		assemble
//-		article
//-		news
//-		city
mixin card(type, image)

	-var showImg = Math.round(Math.random() * (1 - 3) + 3) > 1;

	.card__item(class= 'card__item_'+ type + ' ' + ( ( type === 'news' || type === 'article' ) && showImg === false ? 'card__item_noimage' : '') )
		.card__item-inner

			if ( type === 'advert')
				.card__item-header
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»
						.card__item-header-text ИНН 7594847425
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.card__item-image
					img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
					//-.card__item-image-carousel
						.card__item-image-item: img.img-contain(src="../img/picture.jpg", alt='')
						.card__item-image-item: img.img-contain(src="../img/picture.jpg", alt='')
						.card__item-image-item: img.img-contain(src="../img/picture.jpg", alt='')
						.card__item-image-item
							img.img-contain(src="../img/picture.jpg", alt='')
							.card__item-image-more
								img()
								p Еще сколько то

					.card__item-favorite: include ../../img/svg/ico_favorite.svg

				.card__item-body
					.card__item-body-info
						.card__item-title: a(href="#") Продаём трактор Беларусь какой-то длинный заголовок максимально в 4 строчки (70 символов)
						//-.card__item-text
					.card__item-body-aside
						a(href="#"): i.ico.ico_stat: include ../../img/svg/mark_statistics.svg
						a(href="#"): i.ico.ico_sale: include ../../img/svg/mark_sale.svg

				.card__item-price 999 999 000 ₽, #[span шт.]

				.card__item-footer
					.card__item-footer-inner Машиностроение #[span.counter +5]

				.card__item-footer
					.card__item-footer-inner
						span #[i.metropoint(style="background: green;")] Маяковская #[span.length.list-no-tablet 120 м]
						span.list-no-tablet #[i.metropoint(style="background: red;")] Площадь восстания #[span.length 150 м]
						span.list-no-tablet #[i.metropoint(style="background: red;")] Чернышевская #[span.length 150 м]
						span.counter.list-only-tablet +3
					.card__item-footer-inner сегодня 23:30

			if ( type === 'showcase')
				.card__item-header
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»

				.card__item-image
					a(href="#")
						img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
					.card__item-label 999 999 ₽

				.card__item-body
					.card__item-body-info
						.card__item-title: a(href="#") Продаём трактор Беларусь какой-то длинный заголовок максимально в 4 строчки (70 символов)


			if ( type === 'city')
				.card__item-header
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title Москва
						.card__item-header-text Рейтинг города 5 654 #[.info(data-tooltip="Подсказка")]
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.card__item-image
					a(href="#")
						img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')

				.card__item-stat
					.card__item-stat-info
						span Компаний #[b 1&nbsp;234]
					.card__item-stat-info
						span Объявлений #[b 1&nbsp;234]
					.card__item-stat-info.card__item-stat-info_link
						a(href="").btn.btn_small.btn_blue В город


			else if ( type === 'poster' )

				.card__item-image
					a(href="#")
						img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
						.card__item-image-comment: span Как начать зарабатывать на бирже

			else if ( type === 'notice' )

				.card__item-body
					.card__item-body-info
						.card__item-title: a(href="#") Продаём трактор Беларусь какой-то длинный заголовок максимально в 4 строчки (70 символов)
						.card__item-text Машиностроение, офисная техника, автомобилестроение Машиностроение, офисная техника, автомобилестроение. Машиностроение...

			else if ( type === 'category' )
				.card__item-image: img(src='../img/svg/404.svg')
				.card__item-body
					.card__item-body-info
						.card__item-title Привет, как дела
				a(href="#").card__item-link

			else if ( type === 'company' )
				.card__item-header
					.card__item-header-main О компании
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»
						.card__item-header-text ИНН 7594847425
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.card__item-stat
					.card__item-stat-info
						span #[b 1&nbsp;234] товаров
						span #[b 1&nbsp;234] подписчиков
				.card__item-stat
					.card__item-stat-info
						a(href="").btn.btn_small.btn_blue В магазин
						a(href="").btn.btn_small Подписки
				.card__item-footer
					.card__item-footer-inner #[i.ico-location]Санкт-Петербург, Россия #[br] На Хедерлинке с января 2018



			else if ( type === 'assemble' )

				.card__item-header
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»
						.card__item-header-text ИНН 7594847425
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.card__item-stat
					.card__item-stat-info
						span #[b 1&nbsp;234] товаров
						span #[b 1&nbsp;234] подписчиков
					.card__item-stat-aside
						a(href="").btn.btn_small.btn_blue В магазин


				.card__item-assamble
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]
					.card__item-assamble-item
						a(href="#")
							.card__item-image: img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')
							.card__item-price 999 999 000 ₽, #[span шт.]

			else if (type === 'article')
				.card__item-header
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»
						.card__item-header-text ИНН 7594847425
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				if (showImg === true)
					.card__item-image
						img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')

				.card__item-body
					.card__item-body-info
						.card__item-title: a(href="#") Продаём трактор Беларусь какой-то длинный заголовок максимально в 4 строчки (70 символов)
						.card__item-text Этим летом проекты у них уже заказывали для главных выставок фонда V-A-C и музея «Гараж», которых часто называют конкурентами, претендующими на лидерство...


				.card__item-info
					.card__item-info-inner сегодня 23:30
					.card__item-info-inner #[i.ico-view ] 2 254

				.card__item-footer
					.card__item-footer-inner Машиностроение, офисная техника #[span.counter +5]


			else if (type === 'news')
				.card__item-header
					.card__item-header-logo: span: img.img-contain(src='../img/mburns.png')
					.card__item-header-info
						.card__item-header-title ООО «Рога и копыта»
						.card__item-header-text ИНН 7594847425
					.card__item-header-control(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				if ( showImg === true )
					.card__item-image
						img.img-contain.lazy(src="../img/lazy.svg", data-src="../img/picture.jpg", alt='')

				.card__item-body
					.card__item-body-info
						.card__item-title: a(href="#") Продаём трактор Беларусь какой-то длинный заголовок максимально в 4 строчки (70 символов)
						.card__item-text Машиностроение, офисная техника, автомобилестроение Машиностроение, офисная техника, автомобилестроение. Машиностроение...

				.card__item-info
					.card__item-info-inner сегодня 23:30
					.card__item-info-inner #[i.ico-view ] 2 254



mixin asideType(type)
	if (type === 'formRange')
		.form__range
			.form__field
				.form__input
					span От
					input(type='text', name='from', value="399")
			.form__field
				.form__input
					span До
					input(type='text', name='from', value="1 950 500")


	else if (type === 'formRadio')
		.form__field
			.form__input
				label
					input(type='radio', name='radio', disabled)
					.form__label Не активен
		.form__field
			.form__input
				label
					input(type='radio', name='radio')
					.form__label Не выбран
		.form__field
			.form__input
				label
					input(type='radio', name='radio', checked)
					.form__label Выбран
	else if (type === 'formCheckbox')
		.form__field
			.form__input
				label
					input(type='checkbox', name='checkbox_1', disabled)
					.form__label Не активен
		.form__field
			.form__input
				label
					input(type='checkbox', name='checkbox_2')
					.form__label Не выбран
		.form__field
			.form__input
				label
					input(type='checkbox', name='checkbox_3', checked)
					.form__label Выбран
	else if (type === 'formDropdown')
		.form__field
			.form__input
				select
					option(value='Дроплист', selected) Дроплист
					option(value='Вариант 1') Вариант 1
					option(value='Вариант 2') Вариант 2
					option(value='Вариант 3') Вариант 3

		.form__field
			.form__input
				label
					input(type='checkbox', name='checkbox_2')
					.form__label Чекбокс
	else if (type === 'formDropSearch')
		.form__field
			.form__input
				select(data-autocomplete='true', placeholder='Город')
					option(value='', selected)
					option(value='Вариант 1') Вариант 1
					option(value='Вариант 2') Вариант 2
					option(value='Вариант 3') Вариант 3

	else if (type === 'formSearch')
		.form__field
			.search
				input.search-input.js-cities-search(type='text', name='search', placeholder="Найти")
				.search-ico: include ../../img/svg/ico_lens.svg
				.search-clear: include ../../img/svg/ico_close.svg
	else if (type === 'menuList')
		.aside__menu-item: a(href='#') Транспорт (56)
		.aside__menu-item: a(href='#') Услуги (5 698)
		.aside__menu-item: a(href='#') Бытовая электроника (565)
		.aside__menu-item: a(href='#') Для дома и дачи (564)
		.aside__menu-item: a(href='#') Для бизнеса (656)
		.aside__menu-item: a(href='#') Животные (2 659)
		.aside__menu-item: a(href='#') Хобби и отдых (65 565 554)
		.aside__menu-item.aside__menu-item_all: a(href='#') Все объявлени
	else if (type === 'subList')
		.aside__menu-item: a(href='#') Все машины
		.aside__menu-item: a(href='#') Еще раздел
		.aside__menu-item: a(href='#') Еще какой-то раздел
		.aside__menu-item.aside__menu-item_all: a(href='#') Все объявления
	else if (type === 'tagList')
		.aside__menu-item.is-active: a(href='#') #[span.c-blue #] Все
		.aside__menu-item: a(href='#') #[span.c-blue #] Интернет и IT решения
		.aside__menu-item: a(href='#') #[span.c-blue #] Бизнес
		.aside__menu-item: a(href='#') #[span.c-blue #] Сельское хозяйство
		.aside__menu-item: a(href='#') #[span.c-blue #] Продажи
		.aside__menu-item: a(href='#') #[span.c-blue #] Бизнес
		.aside__menu-item: a(href='#') #[span.c-blue #] Машиностроение
		.aside__menu-item: a(href='#') #[span.c-blue #] Автомобилестроение
		.aside__menu-item: a(href='#') #[span.c-blue #] Интернет и IT решения
	else if (type === 'tagShort')
		.aside__menu-item: a(href='#') #[span.c-blue #] Интернет и IT решения
		.aside__menu-item: a(href='#') #[span.c-blue #] Бизнес
		.aside__menu-item: a(href='#') #[span.c-blue #] Сельское хозяйство


mixin asideItem(title, type, submenu, tooltip)
	if ( submenu )
		.aside__menu-group(class= submenu === 'open' ? 'is-open' : '')
			.aside__menu-title
				.aside__menu-toggle!= title
				if ( tooltip )
					.info(data-tooltip="Подсказка")
			.aside__menu-inner
				if ( type )
					+asideType(type)
	else
		.aside__menu-group
			.aside__menu-title
				!= title
				if ( tooltip )
					.info(data-tooltip="Подсказка")
			if ( type )
				+asideType(type)