.popup.popup_info
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за ваш отзыв
				.popup__text: p Он будет опубликован после модерации администратором интернет-магазина.
				.popup__btn: .btn.btn_fill(data-popup-close='.popup') продолжить покупки


.popup.popup_auth#popupAuth
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title Вход на сайт
				.popup__form
					form.form(action='http://headerlink.maestros.ru/data/auth.php', method='post', novalidate, autocomplete='off', data-form='auth')

						.form__field.is-hidden
							.form__input
								input(type='email', name="email", data-auth-input='email')
								.form__placeholder E-mail
								.form__dropdown.is-show
									.form__dropdown-item 1
									.form__dropdown-item 12
									.form__dropdown-item 123

						.form__field.is-hidden
							.form__input
								input(type='password', name="password", data-auth-input='authpassword')
								.form__placeholder Укажите Ваш пароль

						.form__field.is-hidden
							.form__input
								input(type='password', name='passwordRegister', data-auth-input='regpassword').js-pass-complesity
								.form__placeholder Придумайте пароль
								+passComplex()

						.form__group.is-hidden
							.form__group-inner &nbsp;
							.form__group-inner
								.form__field
									.form__text Я забыл #[a(href="#" data-auth-action='passrecover') Пароль]

						.form__field.is-hidden
							.form__input
								label
									input(type='checkbox', name='agreementRegister')
									.form__label С #[a(href="#", tatget="_blank") соглашением] об&nbsp;использовании сервиса headerlink.ru ознакомился и&nbsp;согласен. Даю согласие на&nbsp;обработку персональных данных на&nbsp;условиях и&nbsp;в&nbsp;целях, определенных #[a(href="#", tatget="_blank") Политикой конфиденциальности]

						.form__field.is-hidden
							.form__input
								label
									input(type='checkbox', name='subscribeRegister')
									.form__label Получать от&nbsp;Headerlink новости, аналитику по&nbsp;товарам и&nbsp;услугам, сообщения об&nbsp;акциях. #[a(href="#", tatget="_blank") Подробнее]


						.form__field.form__field_submit(data-tooltip="")
							.form__input
								button.is-hidden(type='button', disabled, data-auth-btn='next').btn.btn_blue Далее
								button.is-hidden(type='button', disabled, data-auth-btn='login').btn.btn_blue Войти
								button.is-hidden(type='button', disabled, data-auth-btn='register').btn.btn_blue Зарегистрироваться

.popup.popup_auth#popupCode
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title На Email #[span.js-emailcode ] отправлено письмо с кодом восстановления
				.popup__form
					form.form(action='http://headerlink.maestros.ru/data/auth.php', method='post', novalidate, autocomplete='off', data-form='code')
						.form__group.form__group_collapse
							.form__group-inner
								.form__field
									.form__input
										input(type='text', name="code", data-auth-input='code')
										.form__placeholder Код

							.form__group-inner
								.form__field
									.form__text Укажите Код из письма

						.form__group.form__group_collapse
							.form__group-inner
								.form__field
									.form__text(data-auth-action='codetimer') 0
							.form__group-inner
								.form__field
									.form__text: a(href="#", data-auth-action='sendcode').disabled Отправить код повторно


						.form__field.form__field_submit
							.form__input
								button(type='button', disabled, data-auth-btn='confirm').btn.btn_blue Подтвердить







.popup.popup_auth#popupLogin
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title Вход на сайт
				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='login')

						.form__field
							.form__input
								input(type='email', name='emailLogin', data-require='email')
								.form__placeholder E-mail

						.form__field
							.form__input
								input(type='password', name='passwordLogin', data-require='true')
								.form__placeholder Пароль

						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_blue Войти

						.form__group
							.form__group-inner
								.form__field
									.form__input
										label
											input(type='checkbox', name='remember')
											.form__label Запомнить меня

							.form__group-inner
								.form__field
									.form__text Я забыл #[a(href="#", data-popup-open="#popupPassRecover") Пароль]

				.popup__soc
					.popup__soc-list
						a(href='#').popup__soc-item.popup__soc-item_vk
						a(href='#').popup__soc-item.popup__soc-item_fb
						a(href='#').popup__soc-item.popup__soc-item_tw
						a(href='#').popup__soc-item.popup__soc-item_gp

				.popup__footnote Еще нет аккаунта? #[a(href="#", data-popup-open="#popupRegister") Регистрация]

.popup.popup_auth#popupRegister
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title Регистрация
				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='register')

						.form__field
							.form__input
								input(type='email', name='emailRegister', data-require='email')
								.form__placeholder E-mail

						.form__field
							.form__input
								input(type='password', name='passwordRegister', data-require='true').js-pass-complesity
								.form__placeholder Пароль
								+passComplex()

						.form__field
							.form__input
								label
									input(type='checkbox', name='agreementRegister', data-require='true')
									.form__label С #[a(href="#") соглашением] об&nbsp;использовании сервиса headerlink.ru ознакомился и&nbsp;согласен. Даю согласие на&nbsp;обработку персональных данных на&nbsp;условиях и&nbsp;в&nbsp;целях, определенных #[a(href="#") Политикой конфиденциальности]

						.form__field
							.form__input
								label
									input(type='checkbox', name='subscribeRegister')
									.form__label Получать от&nbsp;Headerlink новости, аналитику по&nbsp;товарам и&nbsp;услугам, сообщения об&nbsp;акциях. #[a(href="#") Подробнее]

						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_blue Зарегистрироваться

				.popup__soc
					.popup__title Регистрация через соц.сеть
					.popup__soc-list
						a(href='#').popup__soc-item.popup__soc-item_vk
						a(href='#').popup__soc-item.popup__soc-item_fb
						a(href='#').popup__soc-item.popup__soc-item_tw
						a(href='#').popup__soc-item.popup__soc-item_gp

				.popup__footnote Уже есть аккаунт? #[a(href="#", data-popup-open="#popupLogin") Войти]





.popup.popup_auth#popupPassRecover
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title Вход на сайт
				.popup__text Мы отправим Вам инструкции по восстановлению
				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='recover_pass')

						.form__field
							.form__input
								input(type='email', name='emailRecover', data-require='email')
								.form__placeholder E-mail

						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_blue Сбросить пароль



				.popup__text Назад&nbsp;на страницу #[a(href="#", data-popup-open="#popupLogin") Входа]

				.popup__footnote Возникли пролемы? Напишите нам в&nbsp;#[a(href="#") тех.поддержку]

.popup.popup_auth#popupNewPass
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__title Укажите новый пароль
				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='new_pass')

						.form__field
							.form__input
								input(type='password', name='passwordNew', data-require='true').js-pass-complesity
								.form__placeholder Новый пароль
								+passComplex()

						.form__field
							.form__input
								input(type='password', name='passwordNewRepeat', data-require='[name=passwordNew]')
								.form__placeholder Повторите пароль

						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_blue Сохранить и войти

.popup.popup_auth#popupSend
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__img: img(src='../img/svg/restore-send.svg')
				.popup__title Письмо отправлено
				.popup__footnote Мы отправили Вам на почту письмо #[br]с инструкциями по восстановению пароля

.popup.popup_auth#popupPassRecovered
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__logo: img(src='../img/svg/logo_header.svg')
				.popup__img: img(src='../img/svg/restore-send.svg')
				.popup__title Пароль успешно восстановлен
				.popup__footnote Авторизуйтесь с новым паролем.


.popup.popup_complaint#popupAddComplaint
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title ЖАЛОБА НА ОБЪЯВЛЕНИЕ

				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='new_pass')

						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Объявление не актуально
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Телефон продавца не доступен
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Указана заниженная цена
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Фото не соответствует товару
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Неверное описание

									.form
										.form__field
											.form__count 300
											.form__input
												textarea(name='message', data-require='true', placeholder="Опишите вашу проблему более подробно", maxlength="300")

						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Объявление дублируется
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Город не соответствует
						.form__field
							.form__input
								label
									input(type='radio', name='complaint_type', data-require='true')
									.form__label Другая причина

									.form
										.form__field
											.form__count 300
											.form__input
												textarea(name='message', data-require='true', placeholder="Опишите вашу проблему более подробно", maxlength="300")


						.form__field.form__field_submit
							.form__input
								button(type='submit', disabled).btn.btn_blue Далее


.popup.popup_message#popupAddMessage
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title НАПИСАТЬ СООБЩЕНИЕ

				.popup__form
					form.form(action='', method='post', novalidate, autocomplete='off', data-form='new_pass')

						.form__field
							.form__input
								input(type='text', name="short", data-require='true' placeholder="Опишите вашу проблему в двух словах")

						.form__field
							.form__count 2000
							.form__input
								textarea(name='message', data-require='true', placeholder="Опишите вашу проблему более подробно", maxlength="2000")


						.form__field.form__field_submit
							.form__input
								button(type='submit').btn.btn_blue Отправить




.popup.popup_category#popupCategory
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title ТОРГОВЛЯ И КОММЕРЦИЯ

				.popup__category
					.popup__category-list
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры
						.popup__category-item: a(href="#") Продажа
						.popup__category-item: a(href="#") Все квартиры
						.popup__category-item: a(href="#") 2-комнатные квартиры
						.popup__category-item: a(href="#") Двухкомнатные большие квартиры


					.popup__category-btn
						.btn.btn_border(data-popup-close=".popup", data-popup-open="#popupFindCategory") БОЛЬШЕ КАТЕГОРИЙ




.popup.popup_search#popupFindCategory
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__search
					.inner
						.popup__search-title Поиск по категориям
						.popup__search-input
							form(action='http://headerlink.maestros.ru/data/categorysearch.php', method='post', autocomplete='off').search
								input.search-input(type='text', name='search', placeholder="Введите какой-нибудь текст")
								.search-ico: include ../../img/svg/ico_lens.svg
								.search-clear: include ../../img/svg/ico_close.svg

								.search-result
									.result
										//-.popup__search-category
											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры


											.popup__search-category-group
												.popup__search-category-title Торговля и коммерция
												.popup__search-category-item: a(href='#') Продажа
												.popup__search-category-item: a(href='#') Все квартиры
												.popup__search-category-item: a(href='#') 2-комнатные квартиры
												.popup__search-category-item: a(href='#') Двухкомнатные большие квартиры





