

.footer{
	background: #1F364C;
	color: #708BA5;

	img{
		display: block;
	}

	a{
		&:hover{
			color: #fff;
		}
	}

	&__row{
		border-bottom: 1px solid #142A3F;

		&_top{
			padding: 13px 0;

			@include breakPoint($breakPoint_2){
				padding: 20px 0;
			}

			.inner{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		&_middle{
			padding: 10px 0;

			@include breakPoint($breakPoint_2){
				padding: 15px 0;
			}
		}
		&_bottom{
			padding: 20px 0 15px;

			@include breakPoint($breakPoint_2){
				padding: 20px 0;
			}

			.inner{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
		}
	}
	&__nav{
		display: flex;
		align-items: center;

		&-item{
			margin-left: 20px;
			font-size: 12px;

			@include breakPoint($breakPoint_1){
				margin-left: 50px;
				font-size: 13px;
			}

			&:first-child{
				margin-left: 0;
			}
		}

		&-link{}
	}
	&__soc{
		display: flex;
		align-items: center;

		&-item{
			width: 21px;
			height: 21px;
			margin-left: 30px;
			fill: #708BA5;
			display: inline-block;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
				margin-left: 35px;
			}

			&:hover{
				fill: #fff;
			}
		}
	}

	&__rules{
		font-size: 12px;
		text-align: center;
		line-height: 1.35;
	}

	&__logo{
		margin-right: 30px;
		width: 180px;
		height: 20px;

		@include breakPoint($breakPoint_1){
			width: 223px;
			height: 25px;
		}
	}

	&__payment{
		display: flex;
		align-items: center;

		&-item{
			margin-right: 5px;
		}
	}

	&__copy{
		font-size: 12px;
		width: 100%;
		margin-top: 10px;

		@include breakPoint($breakPoint_1){
			margin-top: 0;
			width: auto;
			text-align: right;
			flex-grow: 1;
			font-size: 13px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 34px;

			&:last-child{
				margin-right: 0;
			}

			&_c{
				padding-right: 23px;
				border-right: 1px solid currentColor;
				margin-right: 23px;
			}
		}
	}
}