
$formInputPadding: 10px !default;

$formFontSize: 14px !default;
$formLineHeight: 1.2 !default;

$formFieldHeight: 40px !default;
$formBorderRadius: 2px !default;
$formCheckboxWidth: 16px !default;
$formCheckboxWidthBP: 20px !default;
$formGutter: 30px !default;

$formColorText: black !default;
$formColorFootnote: black !default;
$formColorDisabled: #F0F2F6;
$formColorBorder: grey !default;
$formColorError: red !default;
$formColorSuccess: green !default;
$formColorFocus: blue !default;


.form{
	font-size: 0;
	margin: 0 (-$formGutter / 2);



	&__title{

	}

	&__text{

		a{
			color: $colorBlue;

			&.disabled{
				color: $colorGreyLight!important;
				cursor: default;
			}
		}
	}


	&__field{
		position: relative;
		margin-bottom: 10px;
		font-size: $formFontSize;
		display: inline-block;
		width: 100%;
		padding: 0 ($formGutter / 2);
		box-sizing: border-box;
		vertical-align: top;

		@include breakPoint($breakPoint_1){
			font-size: $formFontSizeBP;
			margin-bottom: 15px;
		}

		.btn{
			width: 100%;
		}

		&_submit{



		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorError!important;
				}
			}
		}

		&.f-success{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorSuccess!important;


				}
			}
		}

	}

	&__dropdown{
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		box-sizing: border-box;
		width: 100%;
		display: none;
		color: $colorBlack;
		line-height: ($formFieldHeight - 2px);
		border: 1px solid $formColorBorder;
		border-radius: $formBorderRadius;
		background-color: #fff;
		transition: border 0.3s ease;
		z-index: 10;

		&.is-show{
			display: block;
		}

		&:empty{
			display: none;
		}

		&-item{
			padding: 0 $formInputPadding;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover{
				background: $colorBlue;
				color: #fff;
			}
		}
	}

	&__message{
		position: relative;
		margin-top: 5px;
		text-align: center;

		&:empty{
			display: none;
		}


		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}
	}

	&__label{
		position: relative;

	}

	&__input{
		position: relative;
		display: block;

		.form__input-value,
		textarea,
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="text"]{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;
			padding: 0 $formInputPadding;
			border: 1px solid $formColorBorder;
			border-radius: $formBorderRadius;
			background-color: #fff;
			transition: border 0.3s ease;

			@include breakPoint($breakPoint_1){
				line-height: ($formFieldHeightBP - 2px);
				height: $formFieldHeightBP;
			}


			&:focus{
				border-color: $formColorFocus;

				& ~ .form__select{
					opacity: 1;
					pointer-events: all;
				}
			}

			.f-error &{
				border-color: $formColorError;
			}


			.f-success &{
				border-color: $formColorSuccess;
			}

			&:hover{
				//border-color: $formColorFocus;
			}
		}


		input[type="submit"]{

		}

		input[type="checkbox"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{
						color: $colorBlack;
						font-weight: 400;

						&:before{
							border-color: $formColorFocus;
							background-color: $formColorFocus;
							background-size: 100% 100%;

						}

						&:after{
							opacity: 1;
						}
					}
				}
			}

			&:disabled{
				& ~ {
					.form__label{
						color: $colorGreyLight!important;

						&:before{
							border-color: $formColorDisabled!important;
							background-color: $formColorDisabled!important;
						}

						&:after{
							opacity: 1;
						}
					}
				}
			}

			& ~ {
				.form__label{
					padding: (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) 0 (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) $formCheckboxWidth + $formInputPadding;

					color: $colorGreyText;


					@include breakPoint($breakPoint_1){
						padding: (($formCheckboxWidthBP - ($formFontSizeBP * $formLineHeight)) / 2 ) 0 (($formCheckboxWidthBP - ($formFontSizeBP * $formLineHeight)) / 2 ) $formCheckboxWidthBP + $formInputPadding;
					}

					&:before{
						content: '';
						width: $formCheckboxWidth;
						box-sizing: border-box;
						height: $formCheckboxWidth;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: $formBorderRadius;
						background: #fff no-repeat 50% 50%;
						background-size: 0 0;
						border: 1px solid $formColorBorder;
						transition: all 0.2s ease;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");


						@include breakPoint($breakPoint_1){
							width: $formCheckboxWidthBP;
							height: $formCheckboxWidthBP;
						}

						.f-error &{
							border-color: $formColorError;
						}

						.f-success &{
							border-color: $formColorSuccess;
						}
					}

					&:hover{
						&:before{
							border-color: $formColorFocus;
						}
					}
				}
			}
		}

		input[type="radio"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{
						color: $colorBlack;
						font-weight: 400;

						&:before{
							border-color: $formColorFocus;
							background-color: #fff;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Ccircle r='30' cx='30' cy='30' fill='%233399FF'/%3E%3C/svg%3E");
							background-size: 8px 8px;

							@include breakPoint($breakPoint_1){
								background-size: 10px 10px;
							}
						}
					}
				}
			}

			&:disabled{
				& ~ {
					.form__label{
						color: $colorGreyLight!important;

						&:before{
							border-color: $formColorDisabled!important;
							background-color: $formColorDisabled!important;
						}

						&:after{
							opacity: 1;
						}
					}
				}
			}

			& ~ {
				.form__label{
					padding: (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) 0 (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) $formCheckboxWidth + $formInputPadding;

					color: $colorGreyText;

					@include breakPoint($breakPoint_1){
						padding: (($formCheckboxWidthBP - ($formFontSizeBP * $formLineHeight)) / 2 ) 0 (($formCheckboxWidthBP - ($formFontSizeBP * $formLineHeight)) / 2 ) $formCheckboxWidthBP + $formInputPadding;
					}


					&:before{
						content: '';
						width: $formCheckboxWidth;
						box-sizing: border-box;
						height: $formCheckboxWidth;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						background: #fff no-repeat 50% 50%;
						background-size: 0 0;
						border: 1px solid $formColorBorder;
						transition: all 0.2s ease;
						border-radius: 50%;

						@include breakPoint($breakPoint_1){

							width: $formCheckboxWidthBP;
							height: $formCheckboxWidthBP;
						}


						.f-error &{
							border-color: $formColorError;
						}

						.f-success &{
							border-color: $formColorSuccess;
						}
					}

					&:hover{
						&:before{
							border-color: $formColorFocus;
						}
					}
				}
			}
		}



		textarea{
			resize: none;
			height: 170px;
			line-height: 1.2;

			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;

			@include breakPoint($breakPoint_1){
				padding: (($formFieldHeightBP - ($formFontSizeBP * $formLineHeight)) / 2) $formInputPadding;
			}

		}

		&-select{
			opacity: 0;
		}

		&-value{
			position: absolute;
		}

		&-clear{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {

				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-arrow{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 15px;
				margin-top: -1px;

			}
			&:before {
				transform: rotate(45deg);
				margin-left: -13px;

				input:focus ~ &{
					transform: rotate(-45deg);
					background: $formColorText;
				}
			}
			&:after {
				transform: rotate(-45deg);
				margin-left: -4px;

				input:focus ~ &{
					transform: rotate(45deg);
					background: $formColorFocus;
				}
			}

			&:hover{
				&:before,
				&:after {

				}
			}
		}

	}

	&__group{
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_collapse{
			justify-content: flex-start;
		}

	}

	&__select{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		border-radius: $formBorderRadius;
		border: 1px solid $formColorBorder;
		padding: 0;
		box-sizing: border-box;



		&-item{
			cursor: pointer;
			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;


			@include breakPoint($breakPoint_1){
				padding: (($formFieldHeightBP - ($formFontSizeBP * $formLineHeight)) / 2) $formInputPadding;
			}

			&:hover{
				color: $formColorFocus;
			}

			&.is-active{

			}
		}
	}

	&__footnote{
		color: $formColorFootnote;
	}

	&__placeholder{
		position: absolute;
		color: $formColorText;
		top: 0;
		right: 100%;
		left: 0;
		text-align: right;
		line-height: $formFieldHeight;
		cursor: default;
		pointer-events: none;

		white-space: nowrap;
		box-sizing: border-box;
		transition: all 0.3s ease;
		padding: 0 $formInputPadding;

		@include breakPoint($breakPoint_1){
			line-height: $formFieldHeightBP;
		}

		 .f-error &{
			 color: $formColorError;
		 }

		 .f-success &{
			 color: $formColorSuccess;
		 }

		 input:focus ~ &,
		 textarea:focus ~ &,

		 .f-filled &{
			 right: 0;

		 }
	 }
}