
html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-weight: 300;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-width: 1024px;
	line-height: 1.2;
	color: $colorBlack;
	box-sizing: border-box;


}



.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.website{
	flex-grow: 1;
}


.btn{
	cursor: pointer;
	font-size: 11px;
	line-height: 13px;
	padding: 6px 9px 7px;
	border-radius: 2px;
	display: inline-block;
	box-sizing: border-box;
	user-select: none;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid $colorGreyLight;
	color: $colorGreyText;
	vertical-align: middle;
	background: no-repeat 50% 50%;
	background-size: auto 90%;
	text-align: center;

	@include breakPoint($breakPoint_1){
		font-size: 13px;
		line-height: 15px;
		padding: 10px 19px 11px;
	}

	&_small{
		font-size: 11px;
		padding: 3px 9px 4px;

		@include breakPoint($breakPoint_1){
			font-size: 12px;
			padding: 5px 9px 6px;
		}
	}

	&_link{
		padding: 0;
		color: $colorBlue;
		border: 0;

		&:hover{
			color: $colorBlueHover;
		}
	}

	&_green{
		background-color: $colorGreen;
		border-color: $colorGreen;
		color: #fff;

		&:hover{
			background-color: $colorGreenHover;
			border-color: $colorGreenHover;
		}
	}

	&_blue{
		background-color: $colorBlue;
		border-color: $colorBlue;
		color: #fff;

		&:hover{
			background-color: $colorBlueHover;
			border-color: $colorBlueHover;
		}


		&.btn_darken{
			background-color: $colorBlueHover;
			border-color: $colorBlueHover;

			&:hover{
				background-color: darken($colorBlueHover, 10%);
				border-color: darken($colorBlueHover, 10%);
			}
		}
	}

	&_ico{
		padding: 2px;

		@include breakPoint($breakPoint_1){
			padding: 4px 4px 3px;
		}

		svg{
			fill: $colorGreyText;
			width: 20px;
			height: 20px;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
			}
		}

		&:hover{
			svg{
				fill: $colorBlue;
			}
		}
	}

	&_disabled{
		background-color: $colorGreyLight;
		border-color: $colorGreyLight;
		color: #fff;
	}

	&-group{
		font-size: 0;

		.btn{

			&:not(:last-child){
				margin-right: -1px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child){
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:hover{
				color: $colorBlue;
				border-color: $colorBlue;
				position: relative;
			}

			&.is-active{
				color: #fff;
				background-color: $colorBlue;
				border-color: $colorBlue;
			}
		}
	}

	&_border{
		color: $colorBlack;
		&:hover{
			border-color: $colorBlue;
			color: $colorBlue;
		}
	}


	&:disabled{
		background-color: $colorGreyLight;
		border-color: $colorGreyLight;
		color: #fff;
		cursor: default;
	}

	&.is-loading{
		background-image: url("../../img/svg/loading_white.svg");
		color: transparent!important;
	}
}

.website {

	//&:before{
	//	content: '';
	//	@include grid(12, 20px, 0, rgba(45, 132, 190, 0.1));
	//	max-width: 964px;
	//
	//	@include breakPoint($breakPoint_1){
	//		max-width: 1196px;
	//		@include grid(20, 20px, 0, rgba(45, 132, 190, 0.1));
	//	}
	//
	//	@include breakPoint($breakPoint_2){
	//		max-width: 1500px;
	//	}
	//}
}

.inner{
	margin: 0 auto;
	position: relative;
	max-width: 964px;

	@include breakPoint($breakPoint_1){
		max-width: 1196px;
	}

	@include breakPoint($breakPoint_2){
		max-width: 1500px;
	}
}

.breadcrumbs{
	font-size: 10px;
	margin: 0 0 20px;
	font-weight: 400;

	@include breakPoint($breakPoint_1){
		font-size: 11px;
	}

	a{
		color: $colorGreyText;
		font-weight: 300;

		&:hover{
			color: $colorBlue;
		}
	}

	&-item{
		display: inline-block;
		vertical-align: middle;

		&:after{
			content: '';
			display: inline-block;
			border: 3px solid transparent;
			border-left-color: $colorGreyLight;
			margin: 0 5px 0 10px;
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}
}

.aside{


	&__menu{
		margin-bottom: 40px;

		&-item{
			font-size: 11px;
			color: $colorGreyText;
			margin: 11px 0;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}

			&_all{
				color: $colorBlue;
			}

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}


			&.is-active{
				a{
					color: $colorBlue;
					text-decoration: underline;
				}
			}
		}

		hr{
			display: block;
			width: 100%;
			box-shadow: none;
			height: 1px;
			background: $colorGreyLight;
			margin: 15px 0;
		}

		&-group{


			margin-bottom: 16px;

			//border-top: 1px solid $colorGreyLight;
			//padding-top: 15px;
			//margin-top: 15px;

			/*&:first-child{
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}*/
		}
		&-title{
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 12px;
			position: relative;
			padding-right: 30px;
			user-select:none;


			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}

			span{
				color: $colorGreyText;
				font-weight: 300;
			}


			.info{
				position: absolute;
				top: 0;
				right: 0;
			}


			&.is-active{
				color: $colorBlue;
				text-decoration: underline;

				span{
					color: $colorBlue;
				}
			}
		}

		&-toggle{
			display: inline-block;
			padding-right: 15px;
			position: relative;
			cursor: pointer;
			text-decoration: inherit;

			&:after{
				content: '';
				display: inline-block;
				border: 4px solid transparent;
				border-bottom-color: $colorGreyText;
				border-top: 0;
				vertical-align: middle;
				position: absolute;
				right: 0;
				top: 6px;
				transition: all 0.3s ease;
				transform: rotate(0deg);

				.is-open &{
					transform: rotate(180deg);
				}
			}
		}

		&-inner{
			display: none;

			.is-open &{
				display: block;
			}
		}


		.form__field{
			padding: 0;
		}

		.form__range{
			font-size: 0;
			margin-right: -10px;

			.form{

				&__field{
					width: 50%;
					padding-right: 10px;
					margin-bottom: 0;
				}

				&__input{
					span{
						display: block;
						position: absolute;
						top: 0;
						left: 10px;
						font-size: 11px;
						line-height: 30px;

						@include breakPoint($breakPoint_1){
							font-size: 12px;
							line-height: 38px;
						}
					}

					input{
						padding-left: 30px;
					}
				}
			}
		}
	}
}

.info{
	width: 14px;
	height: 14px;
	background: #F0F2F6;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 0;

	&:after{
		content: '?';
		font-size: 10px;
		color: $colorGrey;
		display: inline-block;
	}
}

.content{

	&__title{
		font-weight: 400;
		font-size: 24px;
		border-bottom: 2px solid $colorBlue;
		margin-bottom: 15px;
		padding-bottom: 15px;

		@include breakPoint($breakPoint_1){
			font-size: 30px;
			margin-bottom: 22px;
			padding-bottom: 22px;
		}

		.footnote{
			font-size: 13px;
			font-weight: 300;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 16px;
			}
		}
	}
	&__subtitle{
		font-weight: 400;
		font-size: 18px;
		margin: 35px 0 15px;

		@include breakPoint($breakPoint_1){
			font-size: 24px;
		}

		&:first-child{
			margin-top: 0;
		}

		.link{
			display: inline-block;
			vertical-align: baseline;
			font-size: 12px;
			color: $colorBlue;
			font-weight: 300;
		}
	}
}

.link{
	cursor: pointer;
}

.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{
		position: absolute;
		cursor: pointer;
		top: 50%;
		z-index: 1;
		background: #fff;
		width: 30px;
		height: 40px;
		border: 1px solid $colorGreyLight;
		border-radius: 2px;
		fill: $colorGreyText;
		margin-top: -20px;
		transition: all 0.3s ease;

		svg{
			width: 26px;
			height: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -7px;
			margin-left: -13px;
		}

		&:hover{
			border-color: $colorBlue;
			fill: $colorBlue;
		}

		&_prev{
			left: -5px;

			@include breakPoint(1100px){
				left: -45px;
			}

			&.slick-disabled{
				left: 15px;
			}

			svg{
				transform: rotate(-90deg);
			}


			.collect__content &{

				left: auto;
				right: -5px;
				margin-top: 10px;

				@include breakPoint(1100px){

					left: auto;
					right: -45px;
				}

				&.slick-disabled{

					left: auto;
					right: 15px;
				}
			}
		}

		&_next{
			right: -5px;

			@include breakPoint(1100px){
				right: -45px;
			}

			&.slick-disabled{
				right: 15px;
			}

			svg{
				transform: rotate(90deg);
			}

			.collect__content &{

				margin-top: -50px;
			}
		}


	}

	&-disabled{
		opacity: 0;
		pointer-events: none;
	}

	&-dots{


		li{

		}

		button{

		}


		.slick-active{
			button{

			}
		}
	}
}


[data-tab-target]{
	display: none;

	&.is-active{
		display: block;
	}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}

.img-contain{
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}


.no-tablet{
	@include breakPoint(0, $breakPoint_1){
		display: none !important;
	}
}

.only-tablet{
	@include breakPoint($breakPoint_1){
		display: none !important;
	}
}