

.header{
	position: relative;
	z-index: 5;

	&__top{
		display: flex;
		align-items: center;
		padding: 10px 0;

		@include breakPoint($breakPoint_1){
			padding: 18px 0;
		}
	}

	&__logo{
		margin-right: 20px;
		position: relative;

		@include breakPoint($breakPoint_1){
			padding-left: 78px;
			margin-right: 40px;
		}

		&-pict{
			display: none;

			@include breakPoint($breakPoint_1){
				display: block;
				position: absolute;
				width: 58px;
				height: 58px;
				top: -8px;
				left: 0;
			}
		}
		&-word{
			width: 180px;
			height: 20px;
			margin-bottom: 3px;

			@include breakPoint($breakPoint_1){
				width: 206px;
				height: 23px;
				margin-bottom: 7px;
			}
		}
		&-text{
			font-size: 10px;
			color: $colorBlack;
			white-space: nowrap;

			@include breakPoint($breakPoint_1){
				font-size: 11px;
				letter-spacing: 0.1px;
			}
		}

		img{
			width: 100%;
			transition: opacity .5s ease;
			display: block;

			&.main{
				opacity: 1;
			}
			&.hover{
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
			}
		}


		&:hover{

			img{
				&.main{
					opacity: 0;
				}
				&.hover{
					opacity: 1;
				}
			}
		}

	}
	&__search{
		flex-grow: 1;
		margin-right: 15px;
		position: relative;
	}

	&__location{
		margin-right: 20px;
		white-space: nowrap;
		cursor: pointer;

		&-ico{
			display: inline-block;
			vertical-align: middle;
			width: 21px;
			height: 21px;
			fill: $colorBlue;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
			}
		}

		&-name{
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}
		}

		&:hover{
			color: $colorBlue;
		}


	}
	&__action{
		margin-right: 20px;

		@include breakPoint($breakPoint_1){
			margin-right: 40px;
		}

	}
	&__auth{
		display: flex;
		align-items: center;

		&-ico{
			margin-right: 24px;

			@include breakPoint($breakPoint_1){
				margin-right: 32px;
			}

			&-item{
				position: relative;
				fill:$colorGrey;
				cursor: pointer;
				margin-top: 10px;
				width: 21px;
				height: 21px;

				@include breakPoint($breakPoint_1){
					width: 26px;
					height: 26px;
				}

				svg{
					width: 100%;
					height: 100%;
				}
				.show-dropdown &,
				&:hover{
					fill:$colorBlue;
				}
			}

			&-count{
				position: absolute;
				color: #fff;
				background: $colorBlue;
				font-size: 10px;
				height: 17px;
				line-height: 17px;
				border-radius: 20px;
				padding: 0 5px;
				bottom: 50%;
				left: 50%;
				box-sizing: border-box;
				min-width: 17px;
				text-align: center;

				@include breakPoint($breakPoint_1){
					font-size: 11px;
					height: 20px;
					line-height: 20px;
					min-width: 20px;
				}

				&:empty{
					display: none;
				}
			}



			.header__dropdown{
				width: 400px;

				@include breakPoint($breakPoint_1){
					width: 500px;
				}

				&-content{
					height: 230px;
				}

				&-inner{
					padding: 20px 15px 10px;
				}

			}
		}

		&-user{
			display: flex;
			align-items: center;


			&:after{
				content: '';
				display: block;
				border: 4px solid transparent;
				border-right-color: $colorGrey;
				border-left: 0;
				transition: transform 0.3s ease;
				transform: rotate(-90deg);
				margin-left: 10px;
			}

			&.show-dropdown{
				&:after{
					transform: rotate(90deg);
				}
			}

			&-logo{
				width: 28px;
				height: 28px;
				border: 1px solid $colorGreyLight;
				border-radius: 50%;
				overflow: hidden;
				cursor: pointer;

				@include breakPoint($breakPoint_1){
					width: 38px;
					height: 38px;
				}

			}

			&-name{
				font-size: 11px;
				white-space: nowrap;
				display: none;
				margin-left: 10px;
				user-select: none;
				cursor: pointer;

				@include breakPoint($breakPoint_1){
					display: block;
				}
			}

			.header__dropdown{
				width: 164px;
			}
		}
	}

	&__dropdown{
		position: absolute;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0 0 20px -5px rgba(0,0,0,0.5);
		top: 70px;
		right: 0;
		transition: all 0.3s ease;
		opacity: 0;
		pointer-events: none;
		margin-top: 20px;

		.show-dropdown &{
			opacity: 1;
			margin-top: 0;
			pointer-events: all;
		}

		&-head{
			position: relative;
			text-align: center;
			padding: 13px 45px 15px;

			@include breakPoint($breakPoint_1){
				padding: 16px 45px 20px;
			}
		}

		&-setting{
			fill: $colorGrey;
			position: absolute;
			top: 12px;
			left: 10px;
			cursor: pointer;
			width: 21px;
			height: 21px;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
				top: 12px;
				left: 10px;
			}

			&:hover{
				fill: $colorBlue;
			}
		}

		&-title{
			font-size: 15px;
			font-weight: 400;
		}

		&-remove{
			width: 21px;
			height: 21px;
			fill: $colorGrey;
			position: absolute;
			top: 12px;
			right: 10px;
			cursor: pointer;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
				top: 12px;
				right: 10px;
			}

			&:hover{
				fill: $colorBlue;
			}
		}
		&-tabs{
			font-size: 0;
			border-bottom: 1px solid $colorGreyLight;
		}

		&-tabitem{
			display: inline-block;
			vertical-align: bottom;

			margin: 0 5px 0 15px;
			color: $colorGreyText;
			border-bottom: 2px solid transparent;
			margin-bottom: -1px;
			padding-bottom: 10px;
			cursor: pointer;
			font-size: 12px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				margin: 0 15px;
			}

			&:hover{
				color: $colorBlue;
			}

			&.is-active{
				color: $colorBlack;
				font-weight: 400;
				border-bottom-color: $colorBlue;
			}
		}

		&-content{}
		&-footer{
			font-size: 13px;
			padding: 8px 15px 20px;
			font-weight: 400;
		}

		&-message{
			height: 200px;
			font-size: 0;
			text-align: center;

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span{
				display: inline-block;
				vertical-align: middle;
				color: $colorGreyText;

				font-size: 12px;

				@include breakPoint($breakPoint_1){
					font-size: 13px;
				}
			}
		}

		&-menu{
			font-size: 13px;
			padding: 0 15px;

			ul{
				border-bottom: 1px solid $colorGreyLight;
			}
			li{
				margin: 10px 0;
			}

			a{
				&:hover{
					color: $colorBlue;
				}
			}
		}
	}



	&__nav{
		//background: $colorBlue;
		//border-radius: 2px;
		//height: 32px;
		display: table;
		//width: 100%;
		//align-items: center;
		//padding: 0 5px;

		@include breakPoint($breakPoint_1){
			height: 40px;
			padding: 0;
		}

		&-item{
			margin-right: 10px;
			display: table-cell;
			padding-right: 10px;
			width: 144px;

			@include breakPoint($breakPoint_1){
				width: 192px;

			}

			&:last-child{
				padding-right: 0;
			}

			&_hl{

			}
		}

		&-link{
			white-space: nowrap;
			padding-right: 10px;
			padding-left: 10px;
			width: 100%;

			.header__nav-item_hl &{
				background: $colorBlueHover;
			}

			@include breakPoint($breakPoint_1){

			}

			&_sub{
				&:after{
					content: '';
					display: inline-block;
					border: 3px solid transparent;
					border-right-color: #fff;
					border-left: 0;
					transform: rotate(-90deg);
					margin-left: 10px;
				}
			}

			&.is-disabled{
				opacity: 0.5;
				cursor: default;
			}
		}

		&-carousel{

		}
	}


	.inner{

		position: relative;
		max-width: calc(100% - 40px);

		@include breakPoint($breakPoint_1){
			max-width: calc(100% - 60px);
		}

	}


}





.search{
	position: relative;
	display: block;

	&-input{
		width: 100%;
		box-sizing: border-box;
		height: 28px;
		line-height: 26px;
		padding: 0 33px;
		font-size: 11px;
		border: 1px solid $colorGreyLight;
		border-radius: 2px;

		@include breakPoint($breakPoint_1){
			height: 38px;
			line-height: 36px;
			padding: 0 44px;
			font-size: 13px;
		}


		&:focus{
			border-color: $colorBlue;

			& ~ .search-ico{
				fill: $colorBlue;
			}
		}
	}
	&-ico{
		position: absolute;
		top: 4px;
		left: 4px;
		//cursor: pointer;
		width: 20px;
		height: 20px;
		fill: $colorGreyLight;

		@include breakPoint($breakPoint_1){
			width: 26px;
			height: 26px;
			top: 6px;
			left: 6px;
		}

		svg{
			width: 100%;
			height: 100%;
		}
	}
	&-clear{
		position: absolute;
		top: 4px;
		right: 4px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		fill: $colorGrey;
		display: none;

		.is-filled &{
			display: block;
		}

		@include breakPoint($breakPoint_1){
			width: 26px;
			height: 26px;
			top: 6px;
			right: 6px;
		}

		&:hover{
			fill: $colorGreyHover;
		}

		svg{
			width: 100%;
			height: 100%;
		}
	}

	&-result{
		position: absolute;
		background: #fff;
		left: 0;
		top: 100%;
		width: 100%;
		margin-top: -1px;
		max-height: 500px;
		border: 1px solid $colorGreyLight;
		box-sizing: border-box;
		opacity: 0;
		pointer-events: none;

		&.is-active{
			opacity: 1;
			pointer-events: all;
		}
	}
}


.result{
	padding: 14px;
	font-size: 12px;
	min-height: 1px;

	@include breakPoint($breakPoint_1){
		font-size: 13px;
	}

	&-title{
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 16px;

		@include breakPoint($breakPoint_1){
			font-size: 15px;
		}


	}
	&-amount{
		color: $colorGreyLight;
		font-size: 11px;

		@include breakPoint($breakPoint_1){
			font-size: 12px;
		}
	}
	&-list{}
	&-item{
		display: flex;
		width: 100%;
		margin-bottom: 13px;

		@include breakPoint($breakPoint_1){
			margin-bottom: 15px;
		}

		&-photo{
			min-width: 80px;
			width: 80px;
			margin-right: 17px;

			@include breakPoint($breakPoint_1){
				min-width: 88px;
				width: 88px;
				margin-right: 20px;
			}

			img{
				max-width: 100%;
			}
		}
		&-text{
			flex: 1 1 0;
			line-height: (18 / 13);

			p{
				margin: 0 0 5px 0;
			}
		}
		&-ico{
			margin-left: 15px;

			.ico{
				display: block;
				width: 16px;
				height: 16px;
				margin-bottom: 5px;
			}
		}

		& > {
			a{
				display: flex;
				width: 100%;
			}
		}
	}
	&-all{
		margin-top: 20px ;

		a{
			color: $colorBlue;
		}
	}

	&-link{
		margin: 10px 0;
	}

	hr{
		box-shadow: none;
		height: 1px;
		background: $colorGreyLight;
		display: block;
		margin: 20px -14px;
	}

	a{
		&:hover{
			color: $colorBlueHover;
		}
	}
}


.city{

	height: 0;
	overflow: hidden;
	box-sizing: border-box;
	transition: height 0.5s ease;

	.is-show-cities &{
		height: calc(100vh - 87px);

		@include breakPoint($breakPoint_1){
			height: calc(100vh - 119px);
		}
	}



	&__inner{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 20px 0;

		@include breakPoint($breakPoint_1){
			padding: 25px 0;
		}
	}

	&__head{
		margin-bottom: 22px;

		@include breakPoint($breakPoint_1){
			margin-bottom: 28px;
		}

		.inner{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-field{
			margin-left: 30px;

			&:first-child{
				margin-left: 0;
			}

			&:last-child{
				flex: 1;
				text-align: right;
			}

		}

		&-title{
			font-size: 13px;
			font-weight: 500;
		}

		&-close{
			cursor: pointer;
			display: inline-block;
			font-size: 11px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}


			.ico{
				width: 24px;
				height: 24px;
				fill: $colorGreyText;
				display: inline-block;
				vertical-align: middle;

				&:hover{
					fill: $colorBlue;
				}
			}
		}
	}

	&__content{
		height: 100%;
		display: flex;
		flex: 1;
		opacity: 1;
		transition: opacity 0.3s ease;

		&.is-hold{
			pointer-events: none;
			opacity: 0.3;
		}
	}

	&__alphabet{

		margin-bottom: 25px;
		@include breakPoint($breakPoint_1){
			margin-bottom: 30px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			font-size: 11px;
			margin-right: 12px;
			cursor: pointer;
			font-weight: 400;
			user-select: none;
			border: 1px solid transparent;
			padding: 5px 10px;
			border-radius: 2px;
			margin-left: -11px;

			&.is-active,
			&:hover{
				color: $colorBlue;
				border-color: $colorBlue;
			}

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				margin-right: 18px;
			}
		}
	}

	&__list{


		&-group{
			display: flex;
			margin-bottom: 10px;
		}

		&-title{
			font-size: 13px;
			font-weight: 500;
			width: 30px;
			flex-basis: 30px;
			padding-top: 4px;



			@include breakPoint($breakPoint_1){
				padding-top: 6px;
			}
		}

		&-names{
			font-size: 0;
			flex: 1;
			border-bottom: 1px solid $colorGreyLight;
			padding-bottom: 10px;
		}

		&-item{
			font-size: 11px;
			display: inline-block;
			vertical-align: top;
			width: 25%;

			input{
				position: absolute;
				opacity: 0;
				pointer-events: none;

				&:checked{
					& ~ .btn{
						color: $colorBlue;
					}
				}

				&:disabled{
					& ~ .btn{
						color: $colorGreyLight;
						cursor: default;
						border-color: transparent!important;
					}
				}
			}

			.btn{
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px;
				margin-left: -15px;
				border-color: transparent;


				&:hover{
					border-color: $colorBlue;
				}
			}
		}
	}

	&__region{


		&-group{
			display: flex;
			margin-bottom: 10px;
			border-bottom: 1px solid $colorGreyLight;
			padding-bottom: 10px;

			&.is-hold{
				display: none;
			}
		}

		&-title{
			font-weight: 400;
			width: 230px;
			min-width: 230px;
			flex-basis: 230px;

			.btn{
				white-space: normal;
			}

			@include breakPoint($breakPoint_1){
			}
		}

		&-names{
			font-size: 0;
			flex: 1;
		}

		&-item{
			display: inline-block;
			vertical-align: top;

			&.is-hold{
				display: none;
			}

			input{
				position: absolute;
				opacity: 0;
				pointer-events: none;

				&:checked{
					& ~ .btn{
						color: $colorBlue;
					}
				}

				&:disabled{
					& ~ .btn{
						color: $colorGreyLight;
						cursor: default;
						border-color: transparent!important;
					}
				}
			}

			.btn{
				display: inline-block;
				padding-left: 15px;
				padding-right: 15px;
				margin-left: -15px;
				margin-right: 10px;
				border-color: transparent;


				&:hover{
					border-color: $colorBlue;
				}
			}
		}
	}
}