

.notification{

	&__item{
		display: flex;
		margin-top: 15px;
		position: relative;

		&:first-child{
			margin-top: 0;
		}


		&-image{
			margin-right: 15px;
		}

		&-logo{
			width: 28px;
			height: 28px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			font-size: 0;

			@include breakPoint($breakPoint_1){
				width: 38px;
				height: 38px;
			}
		}

		&-preview{
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: inline-block;



			.notification__item-logo_2 &{
				width: 50%;
			}

			.notification__item-logo_3 &{
				height: 50%;
				width: 50%;

				&:first-child{
					width: 100%;
				}
			}

			.notification__item-logo_4 &{
				height: 50%;
				width: 50%;
			}
		}

		&-status{

		}

		&-content{
			flex-grow: 1;
		}

		&-title{
			font-size: 12px;
			font-weight: 400;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}

			a{
				color: $colorBlue;
			}

			.notification__item_message &{
				margin-bottom: 3px;
				max-width: 230px;
				overflow: hidden;
				text-overflow: ellipsis;

				@include breakPoint($breakPoint_1){
					max-width: 320px;
				}
			}
		}

		&-note{
			font-size: 10px;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 11px;
			}

			.notification__item_message &{
				position: absolute;
				top: 1px;
				right: 0;
			}
		}

		&-text{
			font-size: 12px;
			color: $colorGreyText;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 326px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				max-width: 416px;
			}
		}
	}
}



.collect{
	margin: 20px 0 40px;

	@include breakPoint($breakPoint_1){
		margin: 25px 0 50px;
	}

	&_page{
		margin: 20px 0;

		@include breakPoint($breakPoint_1){
			margin: 30px 0;
		}
	}

	&_city,
	&_company{
		box-shadow: 0 5px 5px -3px rgba(0,0,0,0.15);
		padding-bottom: 25px;
		margin-bottom: 0;
	}

	&_product{
		margin-top: 20px;
	}

	&__title{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 22px;

		@include breakPoint($breakPoint_1){
			font-size: 24px;
		}

		span{
			color: $colorBlue;
		}

		a{
			font-size: 12px;
			color: $colorBlue;
			font-weight: 300;
			margin-left: 5px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}

			&:hover{
				color: $colorBlueHover;
			}
		}
	}

	&__inner{
		display: flex;
		margin: 0 -10px;
	}

	&__tabs{
		display: flex;
		flex-wrap: wrap;

		&-item{
			font-size: 11px;
			font-weight: 400;
			margin-bottom: 15px;
			padding: 0 7px;
			display: flex;
			align-items: center;
			justify-content: center;
			user-select: none;
			width: 148px;
			text-align: center;
			margin-right: 10px;
			border-radius: 2px;
			color: $colorGreyText;
			background: #F0F2F6;
			height: 28px;

			&:hover{
				background: #e7e9ed;
			}

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				padding: 0 10px;
				margin-right: 10px;
				margin-bottom: 20px;
				height: 40px;
				width: 192px;
			}

			&.is-active{
				background: $colorBlue;
				color: #fff;

				@include breakPoint($breakPoint_1){

				}
			}

			.icon{
				font-size: 0;
				margin: -5px 10px -5px 0;

				img{
					max-width: 25px;
					max-height: 25px;

					@include breakPoint($breakPoint_1){
						max-width: 30px;
						max-height: 30px;
					}
				}
			}
		}
	}

	&__aside{
		width: (100% / 4);
		min-width: (100% / 4);
		flex-basis: (100% / 4);
		box-sizing: border-box;
		padding: 0 10px;

		@include breakPoint($breakPoint_1){
			width: (100% / 5);
			min-width: (100% / 5);
			flex-basis: (100% / 5);
		}

		.collect_cat &{

			@include breakPoint($breakPoint_1, $breakPoint_2){
				width: (100% / 4);
				min-width: (100% / 4);
				flex-basis: (100% / 4);
			}
		}
	}

	&__content{
		width: (3 * 100% / 4);
		min-width: (3 * 100% / 4);
		flex-basis: (3 * 100% / 4);
		box-sizing: border-box;
		padding: 0 10px;

		@include breakPoint($breakPoint_1){
			width: (4 * 100% / 5);
			min-width: (4 * 100% / 5);
			flex-basis: (4 * 100% / 5);
		}

		.collect_cat &{

			@include breakPoint($breakPoint_1, $breakPoint_2){
				width: (3 * 100% / 4);
				min-width: (3 * 100% / 4);
				flex-basis: (3 * 100% / 4);
			}
		}

		&_wide{
			width: 100%;
			flex-basis: 100%;
		}
	}

	&__stat{
		&-item{
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			@include breakPoint($breakPoint_1){
				margin-bottom: 32px;
			}
		}

		&-logo{
			width: 40px;
			height: 40px;
			background: #F0F2F6;
			border-radius: 50%;
			margin-right: 10px;
			overflow: hidden;
			font-size: 0;
			text-align: center;


			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				height: auto;
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
				max-height: 100%;
			}
		}
		&-info{
			flex: 1;
		}
		&-count{
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 2px;

			@include breakPoint($breakPoint_1){
				font-size: 24px;
			}
		}

		&-name{
			font-size: 11px;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}

	}

	&__category{
		column-count: 2;
		column-gap: 20px;
		break-inside: avoid-column;

		&-group{
			margin-bottom: 15px;
			display: inline-block;
			width: 100%;

			@include breakPoint($breakPoint_1){
				margin-bottom: 20px;
			}
		}

		&-title{
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 5px;

			@include breakPoint($breakPoint_1){
				font-size: 18px;
				margin-bottom: 10px;
			}

			span{
				font-weight: 300;
				color: $colorGreyText;
				font-size: 11px;
				white-space: nowrap;
				vertical-align: baseline;

				@include breakPoint($breakPoint_1){
					font-size: 12px;
				}

			}
		}

		&-list{}

		&-item{
			display: inline-block;
			font-size: 12px;
			color: $colorGreyText;
			margin: 0 20px 3px 0;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				margin: 0 20px 8px 0;
			}

			&:hover{
				color: $colorBlue;
			}
		}
	}


	&__menu{
		margin-bottom: 15px;

		&-item{
			border-bottom: 1px solid $colorGreyLight;
			margin-bottom: 8px;
			padding-bottom: 8px;
			display: flex;
			align-items: center;
			color: $colorGreyText;

			&:hover{
				color: $colorBlue;
			}

		}

		&-logo{
			width: 24px;
			height: 24px;
			background: #F0F2F6;
			border-radius: 50%;
			margin-right: 10px;
		}

		&-name{
			font-size: 12px;
			flex: 1;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}
		}
	}

	&__more{
		font-size: 12px;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}

		a{
			color: $colorBlue;
		}
	}

	&__other{
		text-align: center;

		.btn{
			min-width: 420px;
		}
	}


	&__tickets{
		&-list{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -23px;

			br{
				display: block;
				width: 100%;
			}

			@include breakPoint($breakPoint_1){
			}
		}
		&-item{
			width: 252px;
			margin-bottom: 25px;
			padding: 0 23px;
			box-sizing: border-box;

			@include breakPoint($breakPoint_1){
				width: 248px;
			}

			@include breakPoint($breakPoint_2){
				width: 257px;
			}
		}

		&-inner{
			border: 1px solid $colorGreyLight;
			box-shadow: 0 0 1px -1px rgba(0,0,0,0.5);
			transition: box-shadow 0.3s ease;
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;
			box-sizing: border-box;

			&:hover{
				box-shadow: 0 5px 7px 0 rgba(0,0,0,0.15);
			}

		}
		&-head{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			height: 36px;
		}
		&-title{
			font-size: 15px;
			font-weight: 400;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			max-height: 36px;

			a:hover{
				color: $colorBlue;
			}
		}
		&-count{
			font-size: 12px;
			color: $colorGreyText;
			margin-left: 5px;
			white-space: nowrap;
		}
		&-image{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10px 10px;
			height: 130px;
			box-sizing: border-box;

			img{
				max-width: 100%;
				max-height: 100%;
				display: block;
			}
		}
		&-body{
			font-size: 12px;
			border-top: 1px solid $colorGreyLight;
			padding: 10px;
			line-height: (20 / 12);
			flex: 1 1 auto;

			a:hover{
				color: $colorBlue;
			}

			p{
				font-weight: 400;

				span{
					font-weight: 300;
					color: $colorGreyText;
				}
			}

			.link{
				color: $colorBlue;
				&:hover{
					text-decoration: underline;
				}
			}

		}

	}
}





.card{


	&__list{
		margin: -10px;
		font-size: 0;

		&_slider{
			white-space: nowrap;
		}
	}

	&__item{
		padding: 10px;
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		white-space: normal;

		[data-slider="2,3"] &{
			width: (100% / 2);

			@include breakPoint($breakPoint_1){
				width: (100% / 3);
			}
		}

		[data-slider="3"] &{
			width: (100% / 3);
		}

		[data-slider="3,4"] &{
			width: (100% / 3);

			@include breakPoint($breakPoint_1){
				width: (100% / 4);
			}
		}

		[data-slider="4,4,5"] &{
			width: (100% / 4);

			@include breakPoint($breakPoint_2){
				width: (100% / 5);
			}
		}

		[data-slider="4,5"] &{
			width: (100% / 4);

			@include breakPoint($breakPoint_1){
				width: (100% / 5);
			}
		}

		&-inner{
			border: 1px solid $colorGreyLight;
			border-radius: 2px;
			box-sizing: border-box;
			font-size: 11px;
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 1px -1px rgba(0,0,0,0.5);
			transition: box-shadow 0.3s ease;
			position: relative;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}

			&:hover{
				box-shadow: 0 5px 7px 0 rgba(0,0,0,0.15);
			}


		}

		&-link{
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-header{
			display: flex;
			align-items: center;
			padding: 10px;
			border-bottom: 1px solid $colorGreyLight;
			//margin-bottom: -1px;
			box-sizing: border-box;
			flex-wrap: wrap;



			.info{
				width: 10px;
				height: 10px;
				line-height: 10px;
				position: relative;
				top: -5px;

				&:after{
					font-size: 8px;
				}
			}

			&-logo{
				margin-right: 11px;

				span{
					height: 28px;
					width: 28px;
					display: block;
					overflow: hidden;
					border: 1px solid $colorGreyLight;
					border-radius: 50%;
				}
			}

			&-info{
				flex-grow: 1;
			}

			&-main{
				flex-basis: 100%;
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 15px;
				padding-right: 40px;

				& ~ .card__item-header-control{
					position: absolute;
					top: 10px;
					right: 5px;
				}
			}

			&-title{
				font-size: 12px;
				color: $colorBlack;
				font-weight: 400;
				margin-bottom: 2px;

				@include breakPoint($breakPoint_1){
					font-size: 13px;
				}

			}
			&-text{
				font-size: 11px;
				color: $colorGreyText;

				@include breakPoint($breakPoint_1){
					font-size: 12px;
				}
			}
			&-control{
				.ico{
					display: block;
					width: 20px;
					height: 20px;
					cursor: pointer;
					fill: $colorGreyText;

					&:hover{
						fill: $colorBlue;
					}
				}
			}
		}

		&-image{
			height: 133px;
			position: relative;
			display: block;
			overflow: hidden;

			@include breakPoint($breakPoint_2){
				height: 169px;
			}




			&-comment{
				position: absolute;
				color: #fff;
				font-size: 12px;
				text-align: center;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 12px;

				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					height: 100px;
					border-radius: 0 0 2px 2px;
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
				}

				span{
					position: relative;
				}
			}


			&-carousel{
				height: 100%;
			}
			&-item{
				height: 100%;
			}
		}

		&-favorite{
			position: absolute;
			width: 24px;
			height: 24px;
			top: 8px;
			left: 8px;
			cursor: pointer;

			@include breakPoint($breakPoint_1){
				top: 12px;
				left: 12px;
			}

			svg{
				width: 100%;
				height: 100%;
			}

			.fill{
				fill: #fff;
			}

			.path{
				fill: $colorGreyLight;
			}

			&:hover{
				.path{
					fill: $colorBlue;
				}
			}

			&.is-active{

				.path, .fill{
					fill: $colorBlue;
				}


			}
		}


		&-stat{
			font-size: 11px;
			color: $colorGreyText;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex: 1;
			padding: 0 10px;
			box-sizing: border-box;

			span{
				margin-right: 10px;
				white-space: nowrap;
				display: inline-block;
				vertical-align: top;
			}

			b{
				font-weight: 500;
				color: $colorBlack;
			}

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}


		}

		&-assamble{
			margin: -4px;
			font-size: 0;
			padding: 10px;
			box-sizing: border-box;

			@include breakPoint($breakPoint_1){
				margin: -6px;
			}

			&-item{
				padding: 4px;
				box-sizing: border-box;
				width: (100% / 3);
				display: inline-block;
				vertical-align: top;

				@include breakPoint($breakPoint_1){
					padding: 6px;
				}

				.card__item-image{
					height: 0;
					padding-bottom: 71.5%;
					margin-bottom: 2px;
					border-radius: 2px;
					overflow: hidden;
					font-size: 0;


					img{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}

				.card__item-price{
					font-size: 11px;
					padding: 0;
				}
			}
		}

		&-body{
			display: flex;
			justify-content: space-between;
			flex: 1;
			box-sizing: border-box;

			&-info{
				flex: 1;
				padding: 10px;
				max-height: 100%;
				overflow: hidden;
				display: block;
			}

			&-aside{
				padding: 10px;

				.ico{
					display: block;
					width: 16px;
					height: 16px;
					margin-bottom: 5px;

					&_stat{
						color: $colorBlue;

						&:hover{
							color: $colorBlueHover;
						}
					}
					&_sale{
						color: $colorGreen;

						&:hover{
							color: $colorGreenHover;
						}
					}

					path{
						fill: currentColor;
					}
				}
			}
		}


		&-title{
			font-size: 12px;
			font-weight: 400;
			color: $colorBlack;
			line-height: 1.33;
			margin-bottom: 4px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			max-height: (12px * 1.33 * 4);

			@include breakPoint($breakPoint_1){
				font-size: 13px;
				-webkit-line-clamp: 4;
				max-height: (13px * 1.33 * 4);
			}

			@include breakPoint($breakPoint_2){
				font-size: 15px;
				-webkit-line-clamp: 3;
				max-height: (15px * 1.33 * 3);
			}

			a{
				&:hover{
					color: $colorBlue;
				}
			}
		}

		&-all{
			font-size: 16px;
			font-weight: 400;
			color: $colorBlack;
			text-align: center;
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;

			a:hover &{
				color: $colorBlue;
			}
		}

		&-text{
			font-size: 11px;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}


		&-price{
			font-size: 14px;
			font-weight: 400;
			white-space: nowrap;
			padding: 7px 10px;

			@include breakPoint($breakPoint_2){
				font-size: 15px;
			}

			span{
				font-size: 11px;
				font-weight: 300;
				color: $colorGreyText;

				@include breakPoint($breakPoint_2){
					font-size: 12px;
				}
			}
		}

		&-info{
			display: flex;
			justify-content: space-between;
			height: 30px;
			align-items: baseline;
			box-sizing: border-box;
			padding: 5px 10px;
			//font-size: 0;
			//
			//&-inner{
			//	font-size: 11px;
			//
			//	@include breakPoint($breakPoint_1){
			//		font-size: 12px;
			//	}
			//
			//}


			.ico-view{
				width: 24px;
				height: 24px;
				margin-top: -2px;
				display: inline-block;
				vertical-align: middle;
				background: url("../../img/svg/ico_view.svg") no-repeat 50% 50%;
				background-size: contain;
			}
		}
		&-footer{
			border-top: 1px solid $colorGreyLight;
			display: flex;
			justify-content: space-between;
			height: 30px;
			align-items: center;
			box-sizing: border-box;
			padding: 5px 10px;

			&-inner{
				& > span{
					display: inline-block;
					vertical-align: middle;

					margin-left: 5px;

					@include breakPoint($breakPoint_1){
						margin-left: 10px;
					}

					&:first-child{
						margin-left: 0;
					}
				}


				.list-no-tablet{
					display: none
				}

				.link{
					color: $colorBlue;
				}

				.icon{
					width: 20px;
					height: 20px;
					img{
						max-width: 100%;
						max-height: 100%;
					}
				}

			}

			.metropoint{
				display: inline-block;
				vertical-align: middle;
				height: 6px;
				background: #F0F2F6;
				text-align: center;
				width: 6px;
				border-radius: 50%;
				margin-right: 4px;
				margin-left: -4px;
				margin-top: -2px;

				&:first-child{
					margin-left: 0;
				}
			}

			.counter{
				display: inline-block;
				vertical-align: middle;
				height: 17px;
				line-height: 17px;
				font-size: 10px;
				color: $colorBlack;
				background: #F0F2F6;
				text-align: center;
				min-width: 17px;
				padding: 0 2px;
				box-sizing: border-box;
				border-radius: 20px;
				margin-left: 4px;

				@include breakPoint($breakPoint_1){
					height: 20px;
					min-width: 20px;
					line-height: 20px;
					font-size: 11px;
				}
			}

			.length{
				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $colorGreyLight;
					margin: 0 5px;
				}
			}
		}



		.card_grid &{
			width: (100% / 3);

			@include breakPoint($breakPoint_1){
				width: (100% / 4);
			}
		}


		.card_grid.card_wide &{
			width: (100% / 2);

			@include breakPoint($breakPoint_1){
				width: (100% / 3);
			}
		}

		&_advert{
			.card__item-inner{
				height: 344px;

				@include breakPoint($breakPoint_1){
					height: 385px;
				}

				@include breakPoint($breakPoint_2){
					height: 386px;
				}
			}

			.card_list &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						padding-left: 235px;
						height: auto;

						@include breakPoint($breakPoint_1){
							padding-left: 232px;
						}

						@include breakPoint($breakPoint_2){
							padding-left: 293px;
						}

						.list-no-tablet{
							display: inline-block;

							@include breakPoint(0, $breakPoint_1){
								display: none !important;
							}
						}

						.list-only-tablet{
							display: inline-block;

							@include breakPoint($breakPoint_1){
								display: none !important;
							}
						}
					}
					&-header{
						order: 3;
						flex-basis: 100%;
						box-sizing: border-box;
						border-bottom: 0;

						@include breakPoint($breakPoint_1){
							order: 2;
							padding-right: 40px;
							flex-basis: 35%;
						}

						@include breakPoint($breakPoint_2){
							flex-basis: 30%;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						width: 225px;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;

						@include breakPoint($breakPoint_1){
							width: 222px;
						}

						@include breakPoint($breakPoint_2){
							width: 283px;
						}
					}
					&-body{
						order: 0;
						flex-basis: 100%;
						padding-right: 40px;
						box-sizing: border-box;

						@include breakPoint($breakPoint_1){
							padding-right: 0;
							flex-basis: 65%;
						}

						@include breakPoint($breakPoint_2){
							flex-basis: 70%;
						}

						&-info{
						}

						&-aside{
							padding-bottom: 0;
						}
					}
					&-price{
						order: 2;
						flex-basis: 100%;
						padding-top: 0;
					}
					&-footer{
						order: 5;
						border-top: 0;
						padding-right: 0;
						justify-content: normal;

						@include breakPoint($breakPoint_1){
							flex-basis: 100%;
						}

						&:after{
							content: '';
							display: inline-block;
							width: 1px;
							background: $colorGreyLight;
							height: 18px;
							vertical-align: middle;
							margin-left: 10px;

							@include breakPoint($breakPoint_1){
								display: none;
							}
						}

						&:last-child{
							&:after{
								display: none;
							}
						}

						&-inner{

							&:after{
								content: '';
								display: inline-block;
								width: 1px;
								background: $colorGreyLight;
								height: 18px;
								vertical-align: middle;
								margin: 0 10px;
							}

							&:last-child{
								&:after{
									display: none;
								}
							}

						}
					}
				}
			}

			.card_short &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						height: auto;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}

					}
					&-header{
						box-sizing: border-box;
						border-bottom: 0;
						order: 2;
						padding-right: 40px;
						flex-basis: 35%;

						@include breakPoint($breakPoint_1){
							padding-right: 50px;
							flex-basis: 25%;
						}

						@include breakPoint($breakPoint_2){
							//flex-basis: 30%;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						width: 40px;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						background: none;

						img{
							display: none;
						}

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}
					}
					&-body{
						order: 0;
						box-sizing: border-box;
						padding-right: 0;
						flex-basis: 65%;
						padding-left: 30px;

						@include breakPoint($breakPoint_1){
							padding-left: 40px;
							flex-basis: 60%;
						}

						@include breakPoint($breakPoint_2){

						}

						&-info{
						}

						&-aside{
							padding-bottom: 0;

							@include breakPoint($breakPoint_1){
								white-space: nowrap;
							}

							.ico{

								@include breakPoint($breakPoint_1){
									display: inline-block;
									margin-left: 10px;
								}
							}
						}
					}
					&-price{
						order: 2;
						flex-basis: 100%;
						padding-top: 0;
						padding-left: 40px;
						box-sizing: border-box;

						@include breakPoint($breakPoint_1){
							padding-left: 0;
							order: 1;
							flex-basis: 15%;
							padding-top: 10px;
						}
					}
					&-footer{
						order: 5;
						border-top: 0;
						padding-right: 0;
						justify-content: normal;

						&:after{
							content: '';
							display: inline-block;
							width: 1px;
							background: $colorGreyLight;
							height: 18px;
							vertical-align: middle;
							margin-left: 10px;
						}

						&:last-child{
							&:after{
								display: none;
							}
						}

						&-inner{

							&:after{
								content: '';
								display: inline-block;
								width: 1px;
								background: $colorGreyLight;
								height: 18px;
								vertical-align: middle;
								margin: 0 10px;
							}

							&:last-child{
								&:after{
									display: none;
								}
							}

						}
					}
				}
			}
		}

		&_article{
			.card__item-inner{
				height: 346px;

				@include breakPoint($breakPoint_1){
					height: 377px;
				}

				@include breakPoint($breakPoint_2){


				}
			}
			.card_list &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						padding-left: 235px;
						height: auto;
						align-items: start;
						min-height: 134px;

						@include breakPoint(0, $breakPoint_1){
							//justify-content: space-between;

						}

						@include breakPoint($breakPoint_1){
							padding-left: 232px;
						}

						@include breakPoint($breakPoint_2){
							padding-left: 293px;
							min-height: 170px;
						}
					}

					&-header{
						order: 1;
						box-sizing: border-box;
						border-bottom: 0;

						@include breakPoint(0, $breakPoint_1){
							align-self: flex-end;
							flex-basis: 100%;
						}

						@include breakPoint($breakPoint_1){
							order: 1;
							padding-right: 40px;
							flex-basis: 260px;
						}

						@include breakPoint($breakPoint_2){
							flex-basis: 280px;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						width: 225px;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;

						@include breakPoint($breakPoint_1){
							width: 222px;
						}

						@include breakPoint($breakPoint_2){
							width: 283px;
						}
					}
					&-body{
						order: 0;
						flex-basis: 100%;
						padding-right: 40px;
						box-sizing: border-box;

						@include breakPoint($breakPoint_1){
							padding-right: 0;
							flex-basis: calc(100% - 260px);
							min-height: 95px;
						}

						@include breakPoint($breakPoint_2){
							flex-basis: calc(100% - 280px);
							min-height: 130px;
						}

						&-info{
						}

					}

					&-info{
						order: 2;
						justify-content: left;

						@include breakPoint(0, $breakPoint_1){
							//align-self: flex-end;

						}
						@include breakPoint($breakPoint_1){

						}


						&-inner{
							margin-left: 10px;

							&:first-child{
								margin-left: 0;
							}
						}
					}

					&-footer{
						border: 0;
						order: 3;

						@include breakPoint(0, $breakPoint_1){
							//align-self: flex-end;

						}

						&-inner{

						}
					}
				}
			}

			.card_short &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						height: auto;
						align-items: start;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}

					}
					&-header{
						box-sizing: border-box;
						border-bottom: 0;
						order: 1;
						padding-right: 40px;
						flex-basis: 35%;

						@include breakPoint($breakPoint_1){
							padding-right: 50px;
							flex-basis: 25%;
						}

						@include breakPoint($breakPoint_2){
							//flex-basis: 30%;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						display: none;

						img{
							display: none;
						}

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}
					}
					&-body{
						order: 0;
						box-sizing: border-box;
						padding-right: 0;
						flex-basis: 65%;

						@include breakPoint($breakPoint_1){
							flex-basis: 60%;
						}

						@include breakPoint($breakPoint_2){

						}

						&-info{
						}

					}

					&-info{
						order: 2;
						@include breakPoint($breakPoint_1){
							flex-basis: 100%;
							justify-content: left;
						}

						&-inner{
							margin-left: 10px;

							&:first-child{
								margin-left: 0;
							}
						}
					}

					&-footer{
						border: 0;
						order: 3;

						@include breakPoint(0, $breakPoint_1){

						}

						&-inner{

						}
					}

				}
			}

			&.card__item_noimage{
				.card__item-inner{
					.card_list &{
						padding-left: 0;
					}
				}
			}
		}

		&_news{
			.card__item-inner{
				height: 358px;

				@include breakPoint($breakPoint_1){
				}

				@include breakPoint($breakPoint_2){
					height: 399px;

				}
			}

			.card_list &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						padding-left: 235px;
						height: auto;
						align-items: start;
						min-height: 134px;

						@include breakPoint($breakPoint_1){
							padding-left: 232px;
						}

						@include breakPoint($breakPoint_2){
							padding-left: 293px;
							min-height: 170px;
						}
					}

					&-header{
						order: 3;
						flex-basis: 100%;
						box-sizing: border-box;
						border-bottom: 0;

						@include breakPoint($breakPoint_1){
							order: 1;
							padding-right: 40px;
							flex-basis: 260px;
						}

						@include breakPoint($breakPoint_2){
							flex-basis: 280px;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						width: 225px;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;

						@include breakPoint($breakPoint_1){
							width: 222px;
						}

						@include breakPoint($breakPoint_2){
							width: 283px;
						}
					}
					&-body{
						order: 0;
						flex-basis: 100%;
						padding-right: 40px;
						box-sizing: border-box;

						@include breakPoint($breakPoint_1){
							padding-right: 0;
							flex-basis: calc(100% - 260px);
						}

						@include breakPoint($breakPoint_2){
							flex-basis: calc(100% - 280px);
						}

						&-info{
						}

					}

					&-info{
						order: 2;
						justify-content: left;
						align-self: flex-end;

						@include breakPoint(0, $breakPoint_1){
							position: absolute;
							right: 0;
							bottom: 0;
						}
						@include breakPoint($breakPoint_1){
							flex-basis: 100%;
						}


						&-inner{
							margin-left: 10px;

							&:first-child{
								margin-left: 0;
							}
						}
					}
				}
			}

			.card_short &{

				.card__item{
					&-inner{
						flex-direction: row;
						flex-wrap: wrap;
						position: relative;
						height: auto;
						align-items: start;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}

					}
					&-header{
						box-sizing: border-box;
						border-bottom: 0;
						order: 1;
						padding-right: 40px;
						flex-basis: 35%;

						@include breakPoint($breakPoint_1){
							padding-right: 50px;
							flex-basis: 25%;
						}

						@include breakPoint($breakPoint_2){
							//flex-basis: 30%;
						}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-image{
						display: none;

						img{
							display: none;
						}

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}
					}
					&-body{
						order: 0;
						box-sizing: border-box;
						padding-right: 0;
						flex-basis: 65%;

						@include breakPoint($breakPoint_1){
							flex-basis: 60%;
						}

						@include breakPoint($breakPoint_2){

						}

						&-info{
						}

					}

					&-info{
						order: 2;
						@include breakPoint($breakPoint_1){
							flex-basis: 100%;
							justify-content: left;
						}

						&-inner{
							margin-left: 10px;

							&:first-child{
								margin-left: 0;
							}
						}
					}

				}
			}

			&.card__item_noimage{
				.card__item-inner{
					.card_list &{
						padding-left: 0;
					}
				}
			}
		}


		&_poster{
			.card__item-inner{
				border-width: 0;
			}

			.card__item-image{
				height: 220px;

				@include breakPoint($breakPoint_1){
					height: 280px;
				}
			}
		}

		&_assemble{

			.card__item-header{
				border-bottom: 0;
			}


			.card__item-inner{
				height: 280px;

				@include breakPoint($breakPoint_1){
					height: 267px;
				}

				@include breakPoint($breakPoint_2){
					height: 308px;

				}
			}

			.card_list &{

				.card__item{
					&-inner{
						position: relative;
						min-height: 105px;
						display: block;
						padding-left: 100px;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){
							min-height: 120px;
						}

					}

					&-header{
						width: calc(100% - 300px);
						height: 70px;
						align-items: start;

						@include breakPoint($breakPoint_1){
							width: calc(100% - 520px);
							height: 65px;
						}

						@include breakPoint($breakPoint_2){
							width: calc(100% - 640px);
						}

						&-logo{
							position: absolute;
							top: 10px;
							left: 10px;

							span{
								width: 82px;
								height: 82px;
							}
						}
						&-info{}
						&-title{}
						&-text{
							font-size: 8px;

							@include breakPoint($breakPoint_1){
								font-size: 12px;
							}
						}
						&-control{}
					}
					&-stat{
						width: calc(100% - 300px);

						@include breakPoint($breakPoint_1){
							width: calc(100% - 520px);
						}

						@include breakPoint($breakPoint_2){
							width: calc(100% - 640px);
						}
						&-info{}
						&-aside{}
					}
					&-assamble{
						width: 310px;
						position: absolute;
						top: 0;
						right: 0;

						@include breakPoint($breakPoint_1){
							width: 520px;
						}

						@include breakPoint($breakPoint_2){
							width: 640px;
						}

						&-item{
							display: none;

							&:nth-of-type(1),
							&:nth-of-type(2),
							&:nth-of-type(3){
								display: inline-block;
							}

							@include breakPoint($breakPoint_1){
								width: 20%;

								&:nth-of-type(4),
								&:nth-of-type(5){
									display: inline-block;
								}
							}

							.card__item-price{

								@include breakPoint($breakPoint_1){
									white-space: normal;
								}
							}
						}
					}
				}
			}

			.card_short &{

				.card__item{
					&-inner{
						position: relative;
						flex-direction: row;
						padding-right: 45px;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}

					}

					&-header{

						flex-basis: 50%;

						&-logo{}
						&-info{}
						&-title{}
						&-text{}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}
					&-stat{
						&-info{
							span{
								display: inline-block;
								margin-right: 20px;

								b{

									@include breakPoint(0, $breakPoint_1){

										display: block;
									}
								}
							}
						}
						&-aside{}
					}
					&-assamble{
						display: none;

						&-item{}
					}
				}
			}
		}

		&_city{
			.card__item-stat{
				padding: 0;
				display: flex;

				&-info{
					padding: 7px 10px;
					font-size: 11px;
					font-weight: 400;
					text-align: center;
					border-left: 1px solid $colorGreyLight;
					color: $colorBlack;
					flex: 1;

					@include breakPoint($breakPoint_1){
						font-size: 12px;
					}

					&:first-child{
						border: 0;
					}

					span{
						margin: 0;
						display: block;
					}

					b{
						font-size: 13px;
						color: $colorBlue;
						display: block;
						margin-top: 3px;

						@include breakPoint($breakPoint_1){
							font-size: 16px;
						}
					}

					&_link{
						display: none;
					}
				}
			}

			.card_short &{

				.card__item{
					&-inner{
						position: relative;
						flex-direction: row;
						padding-right: 30px;

						@include breakPoint($breakPoint_1){

						}

						@include breakPoint($breakPoint_2){

						}

					}

					&-header{

						flex: 1;

						&-logo{}
						&-info{}
						&-title{}
						&-text{}

						&-control{
							position: absolute;
							top: 15px;
							right: 8px;
						}
					}

					&-image{
						display: none;
					}
					&-stat{
						flex: 0;
						&-info{
							display: block;
							border: 0;

							span{

							}

							b{
								display: inline-block;
							}
						}
					}

				}
			}
		}

		&_company{
			.card__item{
				&-inner{
					box-shadow: none!important;

					@include breakPoint($breakPoint_1){

					}

					@include breakPoint($breakPoint_2){


					}
				}

				&-header{
					border: 0;
					position: relative;
				}

				&-stat{
					margin-bottom: 15px;
					&-info{
						b{
							display: block;
							margin-bottom: 5px;
						}

						.btn{
							margin-right: 10px;
						}
					}
				}

				&-footer{
					height: auto;
					color: $colorGreyText;
					font-size: 12px;
					line-height: 1.5;

					.ico-location{
						display: inline-block;
						vertical-align: middle;
						width: 6px;
						height: 8px;
						background: url("../../img/svg/ico_ballun.svg");
						margin-right: 5px;
						margin-top: -3px;
					}
				}
			}

		}

		&_showcase{
			.card__item-header-info{

			}
			.card__item-header-title{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $colorGreyText;
				margin: 0;
			}

			.card__item-title{
				height: 30px;

				@include breakPoint($breakPoint_1){
					height: 37px;
				}
			}

			.card__item-inner{
				height: 232px;

				@include breakPoint($breakPoint_1){
					height: 268px;
				}
			}

			.card__item-label{
				position: absolute;
				top: 10px;
				left: 10px;
				background: $colorBlue;
				color: #fff;
				font-size: 14px;
				padding: 5px 10px 3px;
				border-radius: 2px;
			}
		}

		&_category{
			.card__item-image{
				height: 156px;
				display: flex;
				align-items: center;
				justify-content: center;

				img{
					max-width: 90%;
					max-height: 90%;
				}
			}

			.card__item-body{
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;
				min-height: 60px;
				border-top: 1px solid $colorGreyLight;
				text-align: center;
			}

			.card__item-title{
				margin: 0;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				max-height: (15px * 1.2 * 2);
			}
		}
	}


	&__filter{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0;
		font-size: 0;

		&-title{
			font-weight: 400;
			font-size: 12px;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}
		}

		&-list{
			display: flex;
			align-items: center;
		}

		&-view{
			display: inline-block;
			width: 12px;
			height: 12px;
			vertical-align: middle;
			fill: $colorGreyText;
			cursor: pointer;
			margin: 0 5px;

			@include breakPoint($breakPoint_1){
				width: 16px;
				height: 16px;
			}

			&.is-active{
				fill: $colorBlue;
			}

			svg{
				width: 100%;
				height: 100%;

			}

			&_grid{
				.card_grid &{
					fill: $colorBlue;
				}
			}

			&_list{
				.card_list &{
					fill: $colorBlue;
				}
			}


			&_short{
				.card_short &{
					fill: $colorBlue;
				}
			}


		}

		&-text{
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
		}

		&-item{
			margin: 0 10px;

			@include breakPoint($breakPoint_1){
				margin: 0 15px;
			}

			&:first-child{
				margin-left: 0;
			}

			&:last-child{
				margin-right: 0;
			}

			.form__field{
				width: auto;
				vertical-align: middle;
				padding: 0;
				margin: 0 0 0 10px;

				&:first-child{
					margin: 0;
				}
			}

			.selectize-input {
				height: 24px;
				width: 60px;
				line-height: 22px;

				@include breakPoint($breakPoint_1){
					height: 30px;
					line-height: 28px;
					width: 80px;
				}
			}
		}

		&-devide{
			width: 1px;
			background: $colorGreyLight;
			height: 20px;
			margin: 0;
		}
	}


	&__pager{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;

		&-title{
			font-size: 12px;
			margin-right: 15px;
		}

		&-group{
			display: flex;
			align-items: center;
		}

		&-list{
			font-size: 0;
		}
		&-item{
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			height: 22px;
			line-height: 22px;
			border: 1px solid $colorGreyLight;
			padding: 0 11px;
			margin-right: -1px;
			cursor: pointer;
			position: relative;

			@include breakPoint($breakPoint_1){
				height: 28px;
				line-height: 28px;
				padding: 0 15px;
				font-size: 13px;
			}

			&:hover{
				border-color: $colorBlue;
				z-index: 1;
			}

			&:first-child{
				border-radius: 2px 0 0 2px;
			}

			&:last-child{
				border-radius: 0 2px 2px 0;
			}

			&.is-active{
				background: $colorBlue;
				border-color: $colorBlue;
				color: #fff;
			}

			.arrow{
				display: inline-block;
				vertical-align: middle;
				border: 4px solid transparent;
				border-bottom-color: $colorGreyLight;
				border-top: 0;

				&_prev{
					transform: rotate(-90deg);
				}

				&_next{
					transform: rotate(90deg);
				}
			}
		}

		&-select{
			width: 80px;

			.form__field{
				padding: 0;
			}

			.selectize-input {
				height: 24px;
				line-height: 22px;

				@include breakPoint($breakPoint_1){
					height: 30px;
					line-height: 28px;
				}
			}
		}
	}
}


.looked{
	margin: 30px 0;

	&__title{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 15px;

		@include breakPoint($breakPoint_1){
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	&__list{
		margin: 0 -5px;
		font-size: 0;
	}

	&__item{
		width: 88px;
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;

		@include breakPoint($breakPoint_1){
			width: 112px;
		}

		&-image{
			height: 0;
			padding-bottom: 71.5%;
			margin-bottom: 2px;
			border-radius: 2px;
			overflow: hidden;
			font-size: 0;
			position: relative;


			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		&-price{
			font-size: 11px;
			padding: 0;
			font-weight: 400;
			white-space: nowrap;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}

			span{
				font-weight: 300;
				color: $colorGreyText;
			}
		}
	}
}


.article{

	font-size: 12px;
	line-height: 1.5;


	@include breakPoint($breakPoint_1){
		font-size: 13px;
	}

	@import "../scss/typo";


	&__head{
		border-bottom: 2px solid $colorBlue;
		padding-bottom: 15px;
	}
	&__content{

	}

	&__info{
		margin-bottom: 25px;

		&-date{
			font-size: 11px;
			color: $colorGreyText;
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}

		&-tag{
			font-size: 11px;
			font-weight: 400;
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			height: 20px;
			line-height: 20px;
			padding: 0 15px;
			border: 1px solid $colorBlue;
			border-radius: 20px;
			margin-right: 10px;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
				height: 28px;
				line-height: 28px;
			}
		}
	}


	&__stat{
		font-size: 11px;
		margin: 30px 0 35px;

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}

		.ico{
			width: 24px;
			height: 24px;

			svg{
				width: 100%;
				height: 100%;
			}
		}
	}

	&__title{
		font-size: 18px;
		font-weight: 400;
		margin: 25px 0 15px;

		@include breakPoint($breakPoint_1){
			font-size: 16px;
		}

		&:first-child{
			margin-top: 0;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}



	&__half{
		display: flex;

		&-item{
			flex-basis: 50%;
			min-width: 50%;
			width: 50%;
			box-sizing: border-box;

			&:first-child{
				padding-right: 10px;
			}

			&:last-child{
				padding-left: 10px;
			}
		}
	}

	&__subtitle{
		font-size: 16px;
		font-weight: 400;
		margin: 10px 0 5px;

		@include breakPoint($breakPoint_1){
			font-size: 18px;
		}
	}



}


.company,
.head{
	&__logo{
		margin-bottom: 15px;

		@include breakPoint($breakPoint_1){
			margin-bottom: 25px;
		}

		&-item{
			width: 88px;
			height: 88px;
			border: 1px solid $colorGreyLight;
			border-radius: 50%;
			overflow: hidden;

			@include breakPoint($breakPoint_1){
				width: 126px;
				height: 126px;
			}

			.collect_city &{
				border: 0;
				border-radius: 0;
				overflow: visible;
				font-size: 0;

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					max-width: 100%;
					max-height: 100%;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}

	&__stat{
		display: flex;
		margin-bottom: 15px;

		&-item{
			margin-right: 30px;

			&:last-child{
				margin-right: 0;
			}
		}

		&-value{
			font-size: 18px;
			font-weight: 400;

			@include breakPoint($breakPoint_1){
				font-size: 20px;
			}
		}

		&-name{
			font-size: 11px;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}

	}

	&__follow{
		font-size: 0;

		.btn{
			margin-right: 10px;
		}
	}

	&__title{
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 3px;

		@include breakPoint($breakPoint_1){
			font-size: 30px;
		}

		.collect_city &{
			margin-bottom: 12px;
		}
	}
	&__theme{
		font-size: 11px;
		color: $colorGreyLight;
		margin-bottom: 12px;

		@include breakPoint($breakPoint_1){
			font-size: 12px;
		}
	}
	&__description{
		font-size: 12px;
		font-weight: 400;
		line-height: 1.5;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}

		.collect_city &{
			color: $colorGreyText;
		}
	}


	&__control{
		display: flex;
		position: absolute;
		top: 0;
		right: 0;

		svg{
			width: 100%;
			height: 100%;
		}

		&-share{
			width: 22px;
			height: 22px;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
			}
		}

		&-menu{
			width: 22px;
			height: 22px;
			margin-left: 10px;

			@include breakPoint($breakPoint_1){
				width: 26px;
				height: 26px;
			}
		}

		.ico{
			fill: $colorGreyText;
			cursor: pointer;

			&:hover{
				fill: $colorBlue;
			}
		}
	}

	&__info{
		border-top: 1px solid $colorGreyLight;
		display: table;
		width: 100%;
		margin-top: 20px;
		padding-top: 10px;

		&-item{
			display: table-row;
		}
		&-name{
			display: table-cell;
			font-size: 11px;
			color: $colorGreyText;
			vertical-align: middle;
			padding: 6px 0;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}
		&-value{
			padding: 6px 0 6px 15px;
			display: table-cell;
			font-size: 12px;
			font-weight: 400;
			vertical-align: middle;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}

			.info{
				width: 10px;
				height: 10px;
				line-height: 10px;
				position: relative;
				top: -5px;
			}
		}
		.ico-success{
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			background: url("../../img/svg/ico_good.svg") no-repeat 50% 50%;
			background-size: contain;
			margin-right: 5px;
		}
		span{
			margin-right: 10px;
			display: inline-block;
		}

		a, .link{
			color: $colorBlue;
			margin-right: 10px;
			cursor: pointer;
			display: inline-block;
			&.is-loading{
				color: $colorGreyLight!important;
			}
		}

	}
}


.product{

	&__top{
		display: flex;
		margin-bottom: 30px;
	}

	&__image{
		width: 310px;
		min-width: 310px;
		flex-basis: 310px;
		margin-right: 20px;
		font-size: 0;

		@include breakPoint($breakPoint_1){
			width: 465px;
			min-width: 465px;
			flex-basis: 465px;
		}


		&-main{
			margin-bottom: 10px;
			white-space: nowrap;

			overflow: hidden;

			&.slick-initialized{
				overflow: visible;
			}
		}
		&-item{
			height: 220px;
			display: inline-block;

			@include breakPoint($breakPoint_1){
				height: 330px;
			}
		}
		&-preview{
			margin: 0 0 0 -5px;
			white-space: nowrap;
			overflow: hidden;
		}

		&-thumbnail{
			padding: 0 5px;
			display: inline-block;

			span{
				display: block;
				width: 78px;
				height: 55px;

				@include breakPoint($breakPoint_1){
					width: 112px;
					height: 80px;
				}

			}
		}


		.slick-arrow{
			right: auto;
			left: -45px;



			&.slick-disabled{
				left: 15px;
			}
		}
	}


	&__about{
		&-title{
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 10px;

			@include breakPoint($breakPoint_1){
				font-size: 24px;
			}

			.ico{
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-left: 10px;

				&_stat{
					fill: $colorBlue;

					&:hover{
						fill: $colorBlueHover;
					}
				}
				&_sale{
					fill: $colorGreen;

					&:hover{
						fill: $colorGreenHover;
					}
				}
			}
		}

		&-info{
			font-size: 11px;
			color: $colorGreyText;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}
		}

		&-price{

			font-size: 18px;
			font-weight: 400;
			color: $colorBlue;
			margin-top: 15px;
			margin-bottom: 15px;

			@include breakPoint($breakPoint_1){
				font-size: 24px;
			}

			span{
				color: $colorGreyText;
				font-weight: 300;
				font-size: 12px;

				@include breakPoint($breakPoint_1){
					font-size: 13px;
				}
			}
		}


		&-control{

			.btn{
				fill: $colorGreyText;
				margin-right: 5px;

				.ico{
					display: inline-block;
					height: 22px;
					width: 22px;
					vertical-align: middle;
					margin: -10px 5px -10px 0;
					position: relative;
					top: -2px;
				}

				&:hover{
					//color: $colorBlue;
					fill: $colorBlue;
				}
			}
		}
	}

	&__menu{
		border-bottom: 1px solid $colorGreyLight;
		font-size: 0;

		&-item{
			display: inline-block;
			font-size: 12px;
			color: $colorGreyText;
			margin-right: 20px;
			padding-bottom: 13px;
			margin-bottom: -1px;
			border-bottom: 2px solid transparent;
			cursor: pointer;
			font-weight: 400;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}

			&.is-active{
				color: $colorBlack;
				border-bottom-color: $colorBlue;
			}
		}
	}


	&__info{

		font-size: 12px;
		line-height: 1.5;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}


		@include breakPoint($breakPoint_1){
			font-size: 12px;
		}

		&-title{
			font-size: 18px;
			font-weight: 400;
			margin: 35px 0 20px;

			@include breakPoint($breakPoint_1){
				font-size: 24px;
			}
		}
	}

	&__map{
		height: 215px;
		background: $colorGreyLight;
		overflow: hidden;
		border-radius: 3px;

		@include breakPoint($breakPoint_1){
			height: 287px;
		}
	}


	&__table{
		display: table;
		width: 100%;

		&-row{
			display: table-row;
		}

		&-name{
			display: table-cell;
			width: 30%;
			padding: 10px 20px 10px 0;
			color: $colorGreyText;
		}

		&-value{
			display: table-cell;
			border-bottom: 1px solid $colorGreyLight;
			width: 70%;
			padding: 10px 0;
			font-weight: 400;


			.product__table{
				&-name{
					padding: 5px 10px 5px 0;
				}

				&-value{
					border-bottom: 0;
					padding: 5px 0;
				}
			}

			a{
				color: $colorBlue;
				display: inline-block;
				vertical-align: baseline;
				margin-right: 5px;
			}

			.ico{
				fill: currentColor;
				width: 22px;
				height: 22px;
				display: inline-block;
				font-size: 0;
				margin: -5px 0px;
				position: relative;
				top: 6px;
			}
		}

		&-toggle{
			cursor: pointer;
			position: relative;
			user-select: none;

			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 15px;
				background: url("../../img/svg/arrow.svg") no-repeat 50% 50%;
				background-size: contain;
				right: 0;
				top: 1px;
				transition: all 0.3s ease;
				transform: rotate(180deg);

				.product__table-value.is-open &{
					transform: rotate(0deg);
				}
			}

		}

		&-inner{
			display: none;
			padding-top: 10px;


			.product__table-value.is-open &{
				display: block;
			}
		}
	}
}



.menu-local{
	display: flex;
	margin-bottom: 20px;

	&__logo{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $colorGreyLight;
		overflow: hidden;
		margin-right: 15px;

		@include breakPoint($breakPoint_1){
			width: 40px;
			height: 40px;
		}
	}

	&__content{
		flex: 1;
		align-self: center;

		&-nav{
			font-size: 13px;
			font-weight: 400;

			@include breakPoint($breakPoint_1){
				font-size: 16px;
			}

			span{
				color: $colorGreyText;
			}

			a{
				&:hover{
					color: $colorBlue;
				}
			}
		}

		&-text{
			font-size: 11px;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}

			a{
				color: $colorBlue;
				text-decoration: underline;

				&:hover{
					text-decoration: none;
				}
			}
		}

		&-title{
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 5px;

			@include breakPoint($breakPoint_1){
				font-size: 18px;
			}

			span{
				color: $colorGreyText;
			}
		}

		&-links{
			font-size: 11px;

			@include breakPoint($breakPoint_1){
				font-size: 12px;
			}

			a{
				display: inline-block;
				margin: 0 40px 20px 0;
				color: $colorGreyText;

				&:hover{
					color: $colorBlue;
				}
			}
		}
	}
}

.tickercontainer .mask{
	//text-align: center;
}

.ticker{
	white-space: nowrap;
	//margin: 0 auto !important;
	//float: none !important;
	text-align: center;

	&__wrap{
		display: inline-flex;
		font: inherit!important;
	}

	&__item{
		padding: 10px;
		display: inline-block;
		font-size: 11px!important;
		font-weight: 400 !important;

		@include breakPoint($breakPoint_1){
			font-size: 13px!important;
		}
	}

	&__inner{
		display: flex!important;
		cursor: pointer;
	}
	&__name{

	}
	&__up{
		margin-left: 6px;
		border: 4px solid transparent;
		border-bottom: 6px solid currentColor;
		color: $colorGreen;
		vertical-align: middle;
		position: relative;
		top: -3px;

		/*@include breakPoint($breakPoint_1){
			border: 5px solid transparent;
			border-bottom: 8px solid currentColor;
			top: -3px;
		}*/

	}
	&__down{
		margin-left: 6px;
		color: $colorRed;
		border: 4px solid transparent;
		border-top: 6px solid currentColor;
		position: relative;
		top: 6px;

		/*@include breakPoint($breakPoint_1){
			border: 5px solid transparent;
			border-top: 8px solid currentColor;
			top: 4px;
		}*/
	}
	&__value{
		margin-left: 6px;
	}
}

.videobunner{
	height: 220px;
	position: relative;
	overflow: hidden;

	@include breakPoint($breakPoint_1){
		height: 280px;
	}

	video{
		//width: 100%;
		//height: 100%;
		//object-fit: cover;

		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
		height: 100%;
		background: url("../../img/gridtile.png") repeat 50% 50%;
		pointer-events: none;
		display: none;
		opacity: 1;
		transition: opacity 0.5s ease;

		.card__list_slider &{
			display: block;
			opacity: 0;
		}

		.slick-initialized &{
			opacity: 1;
		}
	}
}

.js-scrollbar{
	overflow: auto;
}

.finance{
	padding: 30px 0;
	display: none;
	position: relative;

	.inner{
		position: relative;
	}

	&__close{
		cursor: pointer;
		display: inline-block;
		font-size: 11px;
		position: absolute;
		top: 0;
		right: 0;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}


		.ico{
			width: 24px;
			height: 24px;
			fill: $colorGreyText;
			display: inline-block;
			vertical-align: middle;

			&:hover{
				fill: $colorBlue;
			}
		}
	}

	&__title{
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 15px;
	}

	&__subtitle{
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 15px;
	}

	&__menu{
		margin: 0 -5px 30px;

		.form__field{
			width: auto;
			padding: 0 5px;
			margin: 0;
		}

		.form__text{
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;

			@include breakPoint($breakPoint_1){
				line-height: ($formFieldHeightBP - 2px);
				height: $formFieldHeightBP;
			}
		}
	}


	&__view{
		display: flex;
	}

	&__chart{
		margin-right: 30px;
		width: calc(100% - 280px);

		@include breakPoint($breakPoint_1){
			width: calc(100% - 320px);
		}

		.highcharts-navigator-series{
			path{
				fill-opacity: 1;
				fill: #f1f1f1;
				stroke-width: 0;
			}
		}
	}

	&__range{
		font-size: 13px;
		display: flex;
		margin-bottom: 20px;

		&-item{
			border-top: 1px solid $formColorBorder;
			border-bottom: 1px solid $formColorBorder;
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;
			padding: 0 $formInputPadding;margin-right: -1px;
			cursor: pointer;
			position: relative;
			user-select: none;

			@include breakPoint($breakPoint_1){
				line-height: ($formFieldHeightBP - 2px);
				height: $formFieldHeightBP;
			}


			&:first-child{
				border-radius: $formBorderRadius 0 0 $formBorderRadius;
				border-left: 1px solid $formColorBorder;
			}
			&:last-child{
				border-radius: 0 $formBorderRadius $formBorderRadius 0;
				border-right: 1px solid $formColorBorder;
			}

			&:hover{
				color: $colorBlue;
			}

			&.is-active{
				&:after{
					content: '';
					height: 2px;
					display: block;
					left: $formInputPadding;
					right: $formInputPadding;
					bottom: -1px;
					background: $colorBlue;
				}
			}
		}
	}

	&__list{
		width: 250px;
		min-width: 250px;

		@include breakPoint($breakPoint_1){
			width: 290px;
			min-width: 290px;
		}

		&-title{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 5px;
		}

		&-table{
			table{
				width: 100%;
			}

			th{
				text-align: left;
				font-weight: 500;
				font-size: 13px;
				padding: 5px 5px 5px 0;
			}

			td{
				font-size: 12px;
				padding: 5px 5px 5px 0;
			}

			.up{
				margin-left: 3px;
				border: 4px solid transparent;
				border-bottom: 6px solid currentColor;
				color: $colorGreen;
				vertical-align: middle;
				position: relative;
				top: -3px;
				display: inline-block;
			}

			.down{
				margin-left: 3px;
				color: $colorRed;
				border: 4px solid transparent;
				border-top: 6px solid currentColor;
				position: relative;
				top: 3px;
				display: inline-block;
			}
		}
	}


	&__more{
		display: none;

		&-inner{
			padding-left: 150px;

			@include breakPoint($breakPoint_1){
				padding-left: 200px;
			}
		}

		.inner{
			position: relative;
		}

		&-list{
			display: flex;
			flex-wrap: wrap;
		}

		&-group{
			box-sizing: border-box;
			width: (100%/ 6);
			min-width: 180px;
			padding-right: 20px;

			@include breakPoint($breakPoint_1){
			}
		}

		&-title{
			font-size: 16px;
			font-weight: 500;
			margin: 25px 0 14px;
		}
		&-item{
			font-size: 13px;
			margin: 10px 0;

			.link{
				&:hover{
					color: $colorBlue;
				}
			}
		}

		&-back{
			cursor: pointer;
			display: inline-block;
			font-size: 11px;
			position: absolute;
			top: 25px;
			left: 0;

			@include breakPoint($breakPoint_1){
				font-size: 13px;
			}


			.ico{
				width: 20px;
				height: 20px;
				fill: $colorGreyText;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				margin-top: -2px;

				&:hover{
					fill: $colorBlue;
				}
			}
		}
	}
}