$popupZIndex: 100;
$popupOverlayColor: rgba(#000, 0.9) !default;

.popup {

	display: none;

	.pointer-events & {
		display: block;
		opacity: 0;
		pointer-events: none;
		transition: all 0.5s ease;
		z-index: 100;
	}

	&.is-open {
		display: block !important;


		.pointer-events & {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;
		min-width: 1024px;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 750px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;

		.pointer-events & {
			transition: all 0.3s ease;
			transform: scale(0.8);
		}
		.pointer-events .is-open & {
			transform: scale(1);
		}

	}

	&__close {
		width: 28px;
		height: 28px;
		position: absolute;
		cursor: pointer;
		top: 19px;
		right: 19px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #555;
			height: 2px;
			width: 16px;
			margin-top: -1px;
			margin-left: -8px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background: $colorBlue;
			}
		}
	}

	&__content{
		padding: 40px;
	}

	&__title{
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 15px;

	}

	&__text{
		font-size: 11px;
		margin-bottom: 15px;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}

		a{
			color: $colorBlue;

			&:hover{
				color: $colorBlueHover;
			}
		}
	}

	&__logo{
		width: 300px;
		margin: 0 auto 75px;
	}

	&__soc{
		margin: 20px 0;

		&-list{
			font-size: 0;
			margin: 0 -10px;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			height: 28px;
			line-height: 28px;
			width: calc(25% - 20px);
			margin: 0 10px;
			border-radius: 2px;
			background: $colorGreyLight no-repeat 50% 50%;
			background-size: contain;

			@include breakPoint($breakPoint_1){
				height: 38px;
				line-height: 38px;
			}

			&_vk{
				background-color: #507299;
				background-image: url("../../img/svg/oauth_vk.svg");

				&:hover{
					background-color: #49688C;
				}
			}
			&_fb{
				background-color: #3B5998;
				background-image: url("../../img/svg/oauth_fb.svg");

				&:hover{
					background-color: #37528C;
				}
			}
			&_tw{
				background-color: #1DA1F2;
				background-image: url("../../img/svg/oauth_tw.svg");

				&:hover{
					background-color: #1C98E5;
				}
			}
			&_gp{
				background-color: #EA4335;
				background-image: url("../../img/svg/oauth_gp.svg");

				&:hover{
					background-color: #DE4133;
				}
			}
		}
	}

	&__form{
		text-align: left;
		margin-bottom: 50px;

		.form__field{

			margin-bottom: 15px;

			@include breakPoint($breakPoint_1){
				margin-bottom: 25px;
			}
		}
	}

	&__footnote{
		margin-top: 100px;
		font-size: 11px;

		@include breakPoint($breakPoint_1){
			font-size: 13px;
		}
	}

	&__btn{
		margin-top: 50px;
	}

	&_info{

		.popup__close{
			display: none;
		}

		.popup__content{
			padding: 100px 98px;
			text-align: center;
		}
	}


	&_auth{
		.popup__layout{
			max-width: 400px;

			@include breakPoint($breakPoint_1){
				max-width: 500px;
			}
		}

		.popup__content{
			padding: 40px;
			text-align: center;
		}

		.popup__img{
			margin-bottom: 30px;
		}
	}



	&_complaint{
		.popup__layout{
			max-width: 400px;

			@include breakPoint($breakPoint_1){
				max-width: 500px;
			}
		}

		.popup__title{
			text-align: center;
			margin-bottom: 30px;
		}

		.popup__form{
			margin-bottom: 0;
		}

		.form__field{
			margin-bottom: 15px;

			&_submit{
				text-align: right;
				margin-bottom: 0;

				.btn{
					width: auto;
				}
			}

			.form{
				display: none;
				padding-top: 10px;
			}

			input:checked{

				& ~ .form{
					display: block;
				}
			}
		}

		.form__count{
			position: absolute;
			top: -25px;
			right: 15px;
			font-style: italic;
		}
	}

	&_message{
		.popup__layout{
			max-width: 500px;

			@include breakPoint($breakPoint_1){
				max-width: 700px;
			}
		}

		.popup__form{
			margin-bottom: 0;
		}

		.form__field{
			 margin-bottom: 15px;

			 &_submit{
				 text-align: right;
				 margin-bottom: 0;

				 .btn{
					 width: auto;
				 }
			 }

			 .form{
				 display: none;
				 padding-top: 10px;
			 }

			 input:checked{

				 & ~ .form{
					 display: block;
				 }
			 }


			textarea{
				padding-right: 50px;
			}
		}


		.form__count{
			position: absolute;
			top: 10px;
			right: 25px;
			font-style: italic;
			z-index: 1;
		}
	}
	&_category{

		.popup__title{
			text-align: center;
		}
	}

	&__category{
		&-list{
			columns: 3;
			margin: 30px 0;
		}

		&-item{
			break-inside: avoid;
			margin: 0 0 7px 0;

			a{
				&:hover{
					color: $colorBlue;
				}
			}
		}

		&-btn{
			text-align: center;


			.btn{
				min-width: 420px;
				max-width: 100%;
			}
		}
	}


	&_search{
		.popup__layout{
			max-width: 100%;
			min-height: 100%;
			overflow: hidden;
		}

		.popup__content{
			padding: 30px 0;
			width: 100%;
		}
	}

	&__search{
		&-title{
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 10px;
		}

		&-input{

			.search{

				position: relative;
				transition: top 0.5s ease;
				top: calc(50vh - 100px);

				&.is-filled{
					top: 0;
				}

				&.loading{
					&:after{
						content: '';
						display: block;
						width: 100px;
						height: 100px;
						background: url("../../img/svg/loading.svg");
						background-size: cover;
						position: fixed;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
					}

					.search-result{
						opacity: 0.5;
					}
				}
			}

			.search-result{
				position: static;
				display: block;
				opacity: 1;
				border: 0;
				padding: 0;
				pointer-events: all;
				max-height: 100%;
			}

			.result{
				padding: 0;
			}
		}

		&-category{
			display: flex;
			flex-wrap: wrap;
			margin-right: -50px;

			&-group{
				font-size: 13px;
				box-sizing: border-box;
				padding-right: 50px;
				width: 25%;

				@include breakPoint($breakPoint_1){
					width: 20%;
				}
			}
			&-title{
				margin: 35px 0 11px;
				font-size: 15px;
				font-weight: 500;
			}
			&-item{
				margin: 7px 0;

				&:last-child{
					margin-bottom: 0;
				}

				a{
					&:hover{
						color: $colorBlue;
					}
				}
			}
		}
	}
}

