$fontMain: 'Roboto', sans-serif;
$breakPoint_1: 1350px;
$breakPoint_2: 1650px;


$colorBlue: #3399FF;		$colorBlueHover: #217AD2;
$colorGreen: #67B930;		$colorGreenHover: #4F981F;
$colorGrey: #A2A2A2;		$colorGreyHover: #757575;
$colorGreyLight: #ccc;
$colorGreyText: #757575;
$colorYellow: #fce83f;
$colorOrange: #FF9A00;
$colorRed: #ff0042;
$colorBlack: #1e1e1e;


.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}


$formColorBorder: $colorGreyLight;
$formColorFocus: $colorBlue;
$formFontSize: 12px;
$formFontSizeBP: 13px;
$formFieldHeight: 28px;
$formFieldHeightBP: 38px;