aside.aside
	.aside__menu
		.aside__menu-group.is-open
			.aside__menu-title
				.aside__menu-toggle Транспорт #[span 322]
				//-.info(data-tooltip="Подсказка")
			.aside__menu-inner
				.aside__menu-item: a(href='#') Транспорт (56)
				.aside__menu-item: a(href='#') Услуги (5 698)
				.aside__menu-item: a(href='#') Бытовая электроника (565)
				.aside__menu-item: a(href='#') Для дома и дачи (564)
				.aside__menu-item: a(href='#') Для бизнеса (656)
				.aside__menu-item: a(href='#') Животные (2 659)
				.aside__menu-item: a(href='#') Хобби и отдых (65 565 554)
				.aside__menu-item.aside__menu-item_all: a(href='#') Все объявления
		.aside__menu-group.is-open
			.aside__menu-title: a(href='#') Статьи #[span 1 288]
		.aside__menu-group.is-open
			.aside__menu-title: a(href='#') Новости #[span 322]
		.aside__menu-group.is-open
			.aside__menu-title: a(href='#') Витрина #[span 322]