.aside__menu
	.aside__menu-group.is-open
		.aside__menu-title
			.aside__menu-toggle Диапазон
			//-.info(data-tooltip="Подсказка")
		.aside__menu-inner
			.form__range
				.form__field
					.form__input
						span От
						input(type='text', name='from', value="399")
				.form__field
					.form__input
						span До
						input(type='text', name='from', value="1 950 500")
	hr
	.aside__menu-group.is-open
		.aside__menu-title
			.aside__menu-toggle Радио
			.info(data-tooltip="Подсказка")
		.aside__menu-inner

			.form__field
				.form__input
					label
						input(type='radio', name='radio', disabled)
						.form__label Не активен
			.form__field
				.form__input
					label
						input(type='radio', name='radio')
						.form__label Не выбран
			.form__field
				.form__input
					label
						input(type='radio', name='radio', checked)
						.form__label Выбран

	hr
	.aside__menu-group.is-open
		.aside__menu-title
			.aside__menu-toggle Список чекбоксов
			.info(data-tooltip="Подсказка")
		.aside__menu-inner

			.form__field
				.form__input
					label
						input(type='checkbox', name='checkbox_1', disabled)
						.form__label Не активен
			.form__field
				.form__input
					label
						input(type='checkbox', name='checkbox_2')
						.form__label Не выбран
			.form__field
				.form__input
					label
						input(type='checkbox', name='checkbox_3', checked)
						.form__label Выбран

	hr
	.aside__menu-group.is-open
		.aside__menu-title
			.aside__menu-toggle Дроплист + чекбокс

		.aside__menu-inner

			.form__field
				.form__input
					select
						option(value='Дроплист', selected) Дроплист
						option(value='Вариант 1') Вариант 1
						option(value='Вариант 2') Вариант 2
						option(value='Вариант 3') Вариант 3

			.form__field
				.form__input
					label
						input(type='checkbox', name='checkbox_2')
						.form__label Чекбокс