.collect.collect_city
	.inner
		.collect__inner
			.collect__aside
				.head__logo: .head__logo-item: img(src='../img/mburns.png')


			.collect__content
				.head__title Москва
				.head__description На странице представлены объявления и компании в г.Москва. Мы предоставляем наиболее актуальную информацию,, какой-то тут текст

				.head__control
					.head__control-share: i.ico: include ../../img/svg/ico_share.svg
					.head__control-menu(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.head__info
					.head__info-item
						.head__info-name ФО
						.head__info-value Северо-Западный федеральный округ
					.head__info-item
						.head__info-name Рейтинг
						.head__info-value
							| 657
							.info(data-tooltip="Подсказка")