.collect.collect_company
	.inner
		.collect__inner
			.collect__aside
				.head__logo: .head__logo-item: img.img-contain(src='../img/mburns.png')
				.head__stat
					.head__stat-item
						.head__stat-value 1 991 234
						.head__stat-name товаров
					.head__stat-item
						.head__stat-value 12
						.head__stat-name подписчиков

				.head__follow
					.btn.btn_blue Подписаться
					.btn.btn_ico: include ../../img/svg/ico_edit.svg

			.collect__content
				.head__title Газпром маганизейшн
				.head__theme Машиностроение, Офисная техника, Еще какая-то сфера деятельности
				.head__description ПАО «Газпром» — глобальная энергетическая компания. Основные направления деятельности — геологоразведка, добыча, транспортировка, хранение, газовоготконденсата и нефти, реализация газа в качестве моторного топлива, а также производство и сбыт

				.head__control
					.head__control-share: i.ico: include ../../img/svg/ico_share.svg
					.head__control-menu(data-tooltip-menu)
						i.ico: include ../../img/svg/ico_more.svg
						._tooltip-content
							.tooltip-menu
								ul
									li: a(href="#") Какая то ссылка
									li: a(href="#") Еще какая то ссылка
									li: a(href="#") И еще одна какая то ссылка

				.head__info
					.head__info-item
						.head__info-name Адрес
						.head__info-value Санкт-Петербург, Пискаревский просп., 2к2 литера Щ, БЦ Бенуа, эт. 4-6м.
					.head__info-item
						.head__info-name ИНН
						.head__info-value 7594847425
					.head__info-item
						.head__info-name Сайт
						.head__info-value
							a(href="#") http://pogruzovik.ru
							i.ico-success
					.head__info-item
						.head__info-name Телефон
						.head__info-value
							span +7 (812) 265...
							span.link.js-load-phone(data-action='http://headerlink.maestros.ru/data/phone.php?id=123456') Показать телефон
					.head__info-item
						.head__info-name На Хедерлинке
						.head__info-value с января 2018