section.looked
	.inner
		.looked__title Вы смотрели
		.looked__list
			.looked__item
				.looked__item-image: img.img-contain(src="../img/picture.jpg", alt='')
				.looked__item-price 999 999 000 ₽, #[span шт.]
			.looked__item
				.looked__item-image: img.img-contain(src="../img/picture.jpg", alt='')
				.looked__item-price 999 999 000 ₽, #[span шт.]
			.looked__item
				.looked__item-image: img.img-contain(src="../img/picture.jpg", alt='')
				.looked__item-price 999 999 000 ₽, #[span шт.]
			.looked__item
				.looked__item-image: img.img-contain(src="../img/picture.jpg", alt='')
				.looked__item-price 999 999 000 ₽, #[span шт.]
			.looked__item
				.looked__item-image: img.img-contain(src="../img/picture.jpg", alt='')
				.looked__item-price 999 999 000 ₽, #[span шт.]