extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				a(href='#').breadcrumbs-item Торговля и коммерция
				.breadcrumbs-item Объявления в этой категории

			.collect__inner
				.collect__aside
					aside.aside
						.aside__menu
							+asideItem('Диапазон', 'formRange', 'open')
							hr
							+asideItem('Радио', 'formRadio', 'open', true)
							hr
							+asideItem('Список чекбоксов', 'formCheckbox', 'open', true)
							hr
							+asideItem('Дроплист + чекбокс', 'formDropdown', 'open', true)


				.collect__content
					.content
						.content__title Объявления в этой категории

						.card.card_grid
							.card__filter
								.card__filter-title Найдено 2 540 товаров
								.card__filter-list
									.card__filter-item
										.card__filter-view.card__filter-view_grid: include ../img/svg/view_grid.svg
										.card__filter-view.card__filter-view_list: include ../img/svg/view_listp.svg
										.card__filter-view.card__filter-view_short: include ../img/svg/view_list.svg

									.card__filter-item
										.form__field
											.form__input
												label
													input(type='radio', name='radio_1', checked)
													.form__label Все
										.form__field
											.form__input
												label
													input(type='radio', name='radio_1')
													.form__label Частные
										.form__field
											.form__input
												label
													input(type='radio', name='radio_1')
													.form__label Компании

									.card__filter-devide

									.card__filter-item
										.card__filter-text На странице
										.form__field
											.form__input
												select
													option(value='10', selected) 10
													option(value='20') 20
													option(value='50') 50

									.card__filter-devide

									.card__filter-item
										.form__field
											.form__input
												select
													option(value='10', selected) ₽
													option(value='20') $
													option(value='50') €

							.card__list
								-for (var i = 0; i < 18; i++)
									+card('advert')

							.card__pager
								.card__pager-group
									.card__pager-title Страницы
									.card__pager-list
										.card__pager-item #[i.arrow.arrow_prev] Назад
										.card__pager-item 1
										.card__pager-item 2
										.card__pager-item.is-active 3
										.card__pager-item 4
										.card__pager-item 5
										.card__pager-item Вперед #[i.arrow.arrow_next]
								.card__pager-group
									.card__pager-title Показывать по
									.card__pager-select
										.form__field
											.form__input
												select
													option(value='10') 10
													option(value='20') 20
													option(value='50') 50




	include content/looked

block append
