extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				a(href='#').breadcrumbs-item Новости организаций
				a(href='#').breadcrumbs-item Последние добавленные
				.breadcrumbs-item Название новости

			.collect__inner

				.collect__content
					.content
						article.article
							.article__head
								h1.article__title Как «Театр взаимных действий» захватил «Гараж» и V-A-C
								h3.article__subtitle В 2016 году объединение, называющее себя «Театром взаимных действий», поставило крошечный спектакль-выставку о вымышленной высадке пришельцев в Томской области.
								.article__info
									.article__info-date сегодня 23:30
									.article__info-tag Машиностроение
									.article__info-tag Еще раздел

							.article__content
								p Этим летом проекты у них уже заказывали для главных выставок фонда V-A-C и музея «Гараж», которых часто называют конкурентами, претендующими на лидерство в российском независимом искусстве. Триумфальный путь, проделанный за небольшой срок всего в полтора года, намечался с конца 90-х. Художники Шифра Каждан, Леша Лобанов, Ксения Перетрухина и продюсер Александра Мун дружат почти 20 лет и кажутся реальными и лучшими версиями героев романа «Маленькая жизнь» Ханьи Янагихары или сериала «Девочки». Они работают на стыке театра и современного искусства, медленно, но верно сплавляя эти два круга. The Village встретился с «Театром взаимных действий» и рассказывает, как увидеть за немного наивной интонацией их работ настоящее новаторство.

								h2 Очень уютная выставка

								p Этим летом проекты у них уже заказывали для главных выставок фонда V-A-C и музея «Гараж», которых часто называют конкурентами, претендующими на лидерство в российском независимом искусстве. Триумфальный путь, проделанный за небольшой срок всего в полтора года, намечался с конца 90-х. Художники Шифра Каждан, Леша Лобанов, Ксения Перетрухина и продюсер Александра Мун дружат почти 20 лет и кажутся реальными и лучшими версиями героев романа «Маленькая жизнь» Ханьи Янагихары или сериала «Девочки». Они работают на стыке театра и современного искусства, медленно, но верно сплавляя эти два круга. The Village встретился с «Театром взаимных действий» и рассказывает, как увидеть за немного наивной интонацией их работ настоящее новаторство.

								p
									img(src='../img/picture.jpg', alt='')

								p Этим летом проекты у них уже заказывали для главных выставок фонда V-A-C и музея «Гараж», которых часто называют конкурентами, претендующими на лидерство в российском независимом искусстве. Триумфальный путь, проделанный за небольшой срок всего в полтора года, намечался с конца 90-х. Художники Шифра Каждан, Леша Лобанов, Ксения Перетрухина.

								blockquote Если вы потеряли электронное сообщение о регистрации или оно не было доставлено, мы можем заново отправить это сообщение.

								p Если вы потеряли электронное сообщение о регистрации или оно не было доставлено, мы можем заново отправить это сообщение. #[br]Чтобы стать продавцом, создайте учетную запись продавца. Подробнее о начале продаж на eBay. Если вы хотите продавать товары на внутреннем рынке России, см. следующую страницу.

								figure
									img(src="../img/picture.jpg" alt="")
									figcaption Кадр: видео «Зимняя выпечка» с сайта alinamakarova.ru

								figure
									img(src="../img/picture.jpg" alt="")
									figcaption
										span Видео
										span 22:36

								h2 Список цифры

								ol
									li Введите ваше имя и адрес электронной почты, который вы сможете сразу же проверить.*
									li Создайте пароль и введите его повторно.
									li Введите цифры, которые вы видите на изображении.
									li Ознакомьтесь с условиями нашего Пользовательского соглашения и Уведомления о защите конфиденциальности и подтвердите свое согласие.


								ul
									li Введите ваше имя и адрес электронной почты, который вы сможете сразу же проверить.*
									li Создайте пароль и введите его повторно.
									li Введите цифры, которые вы видите на изображении.
									li Ознакомьтесь с условиями нашего Пользовательского соглашения и Уведомления о защите конфиденциальности и подтвердите свое согласие.



								h2 Информация

								ul.attention
									li Если вы потеряли электронное сообщение о регистрации или оно не было доставлено, мы можем заново отправить это сообщение.


								h2 Таблица

								table
									thead
										tr
											th Название 1
											th Название 2
											th Название 2
									tbody
										tr
											td Значение 1 длинное
											td Значение 1 длинное
											td Значение 1 длинное
										tr
											td Значение 2
											td Значение 2
											td Значение 2
										tr
											td Значение 3
											td Значение 3
											td Значение 3
										tr
											td Значение 1 длинное #[br]название
											td Значение 1 длинное название
											td Значение 1 длинное название
										tr
											td Значение 1 длинное
											td Значение 1 длинное
											td Значение 1 длинное
										tr
											td Значение 2
											td Значение 2
											td Значение 2

							.article__stat
								.article__stat-item
									span.ico: include ../img/svg/ico_view.svg
									span.text 2 254
								.article__stat-item
									span.ico: include ../img/svg/ico_like.svg
									span.text 25


				.collect__aside
					aside.aside
						.aside__menu
							.card: .card__list: +card('company')
						.aside__menu
							+asideItem('Темы', 'tagShort')

	section
		.inner
			.collect__title Другие статьи #[a(href="#") Все статьи]

			.card
				.card__list.card__list_slider(data-slider="3")
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')

	include content/looked

block append
