extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Объявления

			.collect__inner
				.collect__aside

					aside.aside
						.aside__menu
							+asideItem('<a href="#">Транспорт <span>1 288</span></a>')
							+asideItem('<a href="#">Услуги <span>322</span></a>')
							+asideItem('<a href="#">Бытовая электроника <span>322</span></a>')
							+asideItem('<a href="#">Для дома и дачи <span>322</span></a>')
							+asideItem('<a href="#">Для бизнеса <span>322</span></a>')
							+asideItem('<a href="#">Хобби и отдых <span>322</span></a>')
							+asideItem('<a href="#">Личные вещи <span>322</span></a>')
							+asideItem('<a href="#">Транспорт <span>322</span></a>')
							+asideItem('<a href="#">Услуги <span>322</span></a>')
							+asideItem('<a href="#">Бытовая электроника <span>322</span></a>')
							+asideItem('<a href="#">Для дома и дачи <span>322</span></a>')
							+asideItem('<a href="#">Для бизнеса <span>322</span></a>')
							+asideItem('<a href="#">Хобби и отдых <span>322</span></a>')
							+asideItem('<a href="#">Личные вещи <span>322</span></a>')

							.aside__menu-group
								.aside__menu-title.c-blue
									.aside__menu-toggle Еще

								.aside__menu-inner
									.aside__menu-item: a(href='#') Транспорт (56)
									.aside__menu-item: a(href='#') Услуги (5 698)
									.aside__menu-item: a(href='#') Бытовая электроника (565)
									.aside__menu-item: a(href='#') Для дома и дачи (564)
									.aside__menu-item: a(href='#') Для бизнеса (656)
									.aside__menu-item: a(href='#') Животные (2 659)
									.aside__menu-item: a(href='#') Хобби и отдых (65 565 554)

				.collect__content
					.content
						.content__title Компании

						-for (var i = 0; i < 6; i++)
							.content__subtitle Последние добавленные объявления #[a(href="#").link Все последние объявления]

							.card
								.card__list.card__list_slider(data-slider="2,3")
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')



	include content/looked

block append
