extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	include content/head_city

	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				a(href='#').breadcrumbs-item Города
				.breadcrumbs-item Москва

			.collect__inner
				.collect__aside
					aside.aside
						.aside__menu
							+asideItem('Поиск по статьям', 'formSearch')
							+asideItem('<a href="#">Компании</a>', 'subList')
							+asideItem('<a href="#">Объявления</a>', 'subList')
							+asideItem('<a href="#">Статьи</a>')
							+asideItem('<a href="#">Новости</a>')
							+asideItem('<a href="#">Витрина</a>')

				.collect__content
					.content

						.content__subtitle Компании города #[a(href="#").link Все компании города]
						.card
							.card__list.card__list_slider(data-slider="2,3")
								-for (var i = 0; i < 7; i++)
									+card('assemble')

						.content__subtitle Объявления города #[a(href="#").link Все объявления города]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('advert')

						.content__subtitle Новости города #[a(href="#").link Все новости города]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('news')

						.content__subtitle Статьи города #[a(href="#").link Все статьи города]
						.card
							.card__list.card__list_slider(data-slider="2,3")
								-for (var i = 0; i < 7; i++)
									+card('article')

						.content__subtitle Витрина города #[a(href="#").link Вся витрина города]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('advert')


	include content/looked

block append
