extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Торговля и коммерция

			.collect__inner
				.collect__aside

					aside.aside
						.aside__menu
							+asideItem('Город', 'formDropSearch')
							+asideItem('Субъект РФ', 'menuList')

				.collect__content
					.content
						.content__title Города #[span.footnote По субъектам РФ]

						-for (var i = 0; i < 7; i++)
							.content__subtitle Центральный федеральный округ #[a(href="#").link Все города]

							.card
								.card__list.card__list_slider(data-slider="3,4")
									+card('city')
									+card('city')
									+card('city')
									+card('city')
									+card('city')
									+card('city')
									+card('city')



	include content/looked

block append
