extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	include content/head_city

	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				a(href='#').breadcrumbs-item Города
				a(href='#').breadcrumbs-item Москва
				.breadcrumbs-item Компании

			.collect__inner
				.collect__aside
					aside.aside
						.aside__menu
							+asideItem('<a href="#">Транспорт</a>', 'subList')
							+asideItem('<a href="#">Услуги</a>')
							+asideItem('<a href="#">Бытовая электроника</a>', 'subList')
							+asideItem('<a href="#">Для дома и дачи</a>')
							+asideItem('<a href="#">Для бизнеса</a>')
							+asideItem('<a href="#">Животные</a>')
							+asideItem('<a href="#">Хобби и отдых</a>')

				.collect__content
					.content
						.content__title Компании

						-for (var i = 0; i < 7; i++)
							.content__subtitle Последние добавленные компании #[a(href="#").link Все последние компании]

							.card
								.card__list.card__list_slider(data-slider="2,3")
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')
									+card('assemble')




	include content/looked

block append
