extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	include content/head_company

	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Торговля и коммерция

			.collect__inner
				.collect__aside
					aside.aside
						.aside__menu
							+asideItem('Транспорт <span>322</span>', 'menuList', 'open')
							+asideItem('Статьи <span>1 288</span>')
							+asideItem('Новости <span>322</span>')
							+asideItem('Витрина <span>322</span>')

				.collect__content
					.content

						.content__subtitle Последние добавленные объявления #[a(href="#").link Все последние объявления]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('advert')

						.content__subtitle Новости #[a(href="#").link Все новости]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('news')

						.content__subtitle Статьи #[a(href="#").link Все статьи]
						.card
							.card__list.card__list_slider(data-slider="2,3")
								-for (var i = 0; i < 7; i++)
									+card('article')

						.content__subtitle Витрина #[a(href="#").link Все объявления витрины]
						.card
							.card__list.card__list_slider(data-slider="3,4")
								-for (var i = 0; i < 7; i++)
									+card('advert')


	include content/looked

block append
