extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_company
		.inner
			.collect__inner
				.collect__aside
					.company__logo: .company__logo-item: img.img-contain(src='../img/mburns.png')
					.company__stat
						.company__stat-item
							.company__stat-value 1 991 234
							.company__stat-name товаров
						.company__stat-item
							.company__stat-value 12
							.company__stat-name подписчиков

					.company__follow
						.btn.btn_blue Подписаться
						.btn.btn_ico: include ../img/svg/ico_edit.svg

				.collect__content
					.company__title Газпром маганизейшн
					.company__theme Машиностроение, Офисная техника, Еще какая-то сфера деятельности
					.company__description ПАО «Газпром» — глобальная энергетическая компания. Основные направления деятельности — геологоразведка, добыча, транспортировка, хранение, газовоготконденсата и нефти, реализация газа в качестве моторного топлива, а также производство и сбыт

					.company__control
						.company__control-share: i.ico: include ../img/svg/ico_share.svg
						.company__control-menu(data-tooltip-menu)
							i.ico: include ../img/svg/ico_more.svg
							._tooltip-content
								.tooltip-menu
									ul
										li: a(href="#") Какая то ссылка
										li: a(href="#") Еще какая то ссылка
										li: a(href="#") И еще одна какая то ссылка

					.company__info
						.company__info-item
							.company__info-name Адрес
							.company__info-value Санкт-Петербург, Пискаревский просп., 2к2 литера Щ, БЦ Бенуа, эт. 4-6м.
						.company__info-item
							.company__info-name ИНН
							.company__info-value 7594847425
						.company__info-item
							.company__info-name Сайт
							.company__info-value
								a(href="#") http://pogruzovik.ru
								i.ico-success
						.company__info-item
							.company__info-name Телефон
							.company__info-value
								span +7 (812) 265...
								span.link.js-load-phone(data-action='http://headerlink.maestros.ru/data/phone.php?id=123456') Показать телефон
						.company__info-item
							.company__info-name На Хедерлинке
							.company__info-value с января 2018




	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				a(href='#').breadcrumbs-item Газпром магнизейшг
				.breadcrumbs-item Объявления

			.collect__inner
				.collect__aside
					aside.aside
						.aside__menu

							+asideItem('Объявления <span>322</span>', 'menuList', 'open')
							+asideItem('Статьи <span>1 288</span>')
							+asideItem('Новости <span>322</span>')
							+asideItem('Витрина <span>322</span>')

				.collect__content
					.content
						.content__title Объявления

						-for (var i = 0; i < 7; i++)
							.content__subtitle Последние добавленные объявления #[a(href="#").link Все последние объявления]

							.card
								.card__list.card__list_slider(data-slider="3,4")
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')


	include content/looked

block append
