extends layout/template

block vars
	- var login = false;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form

	section.collect
		.inner
			.card
				.card__list.card__list_slider(data-slider="1", data-slider-autoplay="endvideo")
					.card__item
						.videobunner
							video(muted playsinline preload="none")
								source(src="https://spevboat.ru/upload/iblock/75b/75ba31b9b2d156bacc0b776af153108c.mp4" type="video/mp4")
					.card__item
						.videobunner
							video(muted playsinline preload="none")
								source(src="https://spevboat.ru/upload/iblock/a51/a513276117f7ce0160b9177236680a23.mp4" type="video/mp4")
					.card__item
						.videobunner
							video(muted playsinline preload="none")
								source(src="https://spevboat.ru/upload/iblock/c3f/c3fb335c225914223dc21382e28d8d3d.mp4" type="video/mp4")
					.card__item
						.videobunner
							video(muted playsinline preload="none")
								source(src="https://spevboat.ru/upload/iblock/94a/94a5b817a52dd30fc0d97be9b85e6763.mp4" type="video/mp4")


	section.collect
		.inner
			.collect__title Товары #[a(href="#", data-popup-open="#popupFindCategory") Все товары]

			.card
				.card__list.card__list_slider(data-slider="5,6,8")
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')

	section.collect
		.inner
			.collect__title Услуги #[a(href="#", data-popup-open="#popupFindCategory") Все услуги]

			.card
				.card__list.card__list_slider(data-slider="5,6,8")
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')
					+card('category')


	section.collect
		.inner
			.card
				.card__list.card__list_slider(data-slider="3", data-slider-autoplay="5000")
					+card('poster')
					+card('poster')
					+card('poster')
					+card('poster')
					+card('poster')
					+card('poster')
					+card('poster')
					//-.card__item.card__item_poster
						.card__item-inner
							.card__item-body
								a(href="#").card__item-body-info
									.card__item-all Смотреть все товары


	section.collect.collect_cat
		.inner
			.collect__tickets
				.collect__tickets-list
					-for (var i = 0; i < 12; i++)
						.collect__tickets-item
							.collect__tickets-inner
								.collect__tickets-head
									.collect__tickets-title: a(href='#') Торговля и коммерция
									.collect__tickets-count 174 349
								.collect__tickets-image: img(src='../img/svg/404.svg')
								.collect__tickets-body
									p: a(href='#') Продажа #[span 12 311]
									p: a(href='#') Все квартиры #[span 174 349]
									p: a(href='#') Вторичное жилье #[span 91 476]
									p: a(href='#') 2-комнатные квартиры #[span 62 937]
									p: .link(data-popup-open="#popupCategory") Еще

			.collect__other
				.btn.btn_border(data-popup-close=".popup", data-popup-open="#popupFindCategory") БОЛЬШЕ КАТЕГОРИЙ





	section.collect.collect_cat
		.inner
			.collect__title Бизнес предложения в #[span Санкт-Петебурге]

			.collect__inner
				.collect__aside
					.collect__stat
						.collect__stat-item
							.collect__stat-logo: img(src='../img/icons/Account.png')
							.collect__stat-info
								.collect__stat-count 543 350
								.collect__stat-name бизнес аккаунтов
						.collect__stat-item
							.collect__stat-logo: img(src='../img/icons/Offers.png')
							.collect__stat-info
								.collect__stat-count 3 350
								.collect__stat-name бизнес предложений
						.collect__stat-item
							.collect__stat-logo: img(src='../img/icons/Articles.png')
							.collect__stat-info
								.collect__stat-count 9 099 090
								.collect__stat-name бизнес статей
						.collect__stat-item
							.collect__stat-logo: img(src='../img/icons/News.png')
							.collect__stat-info
								.collect__stat-count 9 099 090
								.collect__stat-name бизнес новостей

				.collect__content
					.collect__tabs
						.collect__tabs-item.is-active(data-tab-group='goods', data-tab-link='goods_1')
							//-.icon: img(src='../img/svg/404.svg')
							.text Потребительские товары
						.collect__tabs-item(data-tab-group='goods', data-tab-link='goods_2')
							//-.icon: img(src='../img/svg/404.svg')
							.text Товары для бизнеса
						.collect__tabs-item(data-tab-group='goods', data-tab-link='goods_3')
							//-.icon: img(src='../img/svg/404.svg')
							.text Услуги

					.collect__content-inner.is-active(data-tab-group='goods', data-tab-target='goods_1')
						.collect__category
							.collect__category-group
								.collect__category-title Торговля и коммерция #[span.count 1 658 546]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры еще слово
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
							.collect__category-group
								.collect__category-title Интернет и IT технологии #[span.count 56 658]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
							.collect__category-group
								.collect__category-title Промышленность и производство #[span.count 1 658 546]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры еще слово
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
							.collect__category-group
								.collect__category-title Торговля и коммерция #[span.count 56 658]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры еще слово
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
							.collect__category-group
								.collect__category-title Сельское хозяйство #[span.count 1 658 546]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры еще слово
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
							.collect__category-group
								.collect__category-title Еще категория #[span.count 56 658]
								.collect__category-list
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные
									a(href='#').collect__category-item Все квартиры
									a(href='#').collect__category-item Вторичное
									a(href='#').collect__category-item 2-комнатные

						.collect__more: a(href='#') Все категории

					.collect__content-inner(data-tab-group='goods', data-tab-target='goods_2')
						pre А тут нет ничего

					.collect__content-inner(data-tab-group='goods', data-tab-target='goods_3')
						pre И тут ничего нет

	section.collect
		.inner
			.collect__title Последние добавленные объявления #[a(href="#") Все последние объявления]

			.card
				.card__list.card__list_slider(data-slider="4,5")
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					.card__item.card__item_advert
						.card__item-inner
							.card__item-body
								a(href="#").card__item-body-info
									.card__item-all Смотреть все товары

	section.collect
		.inner
			.collect__title Витрина #[a(href="#") Все объявления витрины]

			.card
				.card__list.card__list_slider(data-slider="4,5")
					+card('showcase')
					+card('showcase')
					+card('showcase')
					+card('showcase')
					+card('showcase')
					+card('showcase')
					+card('showcase')
					.card__item.card__item_showcase
						.card__item-inner
							.card__item-body
								a(href="#").card__item-body-info
									.card__item-all Смотреть объявления витрины



	section.collect
		.inner
			.collect__title Компании #[a(href="#") Все компании]

			.collect__inner
				.collect__aside

					.collect__menu
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Интернет и IT
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Еще длинное название
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Интернет и IT
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Интернет и IT
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Интернет и IT
						a(href="#").collect__menu-item
							.collect__menu-logo
							.collect__menu-name Интернет и IT

					.collect__more: a(href='#') Показать все рубрики

				.collect__content
					.card
						.card__list.card__list_slider(data-slider="2,3")
							+card('assemble')
							+card('assemble')
							+card('assemble')
							+card('assemble')
							+card('assemble')
							.card__item.card__item_assemble
								.card__item-inner
									.card__item-body
										a(href="#").card__item-body-info
											.card__item-all Смотреть все товары







	section.collect
		.inner
			.collect__title Статьи #[a(href="#") Все статьи]

			.card
				.card__list.card__list_slider(data-slider="3")
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					+card('article')
					.card__item.card__item_article
						.card__item-inner
							.card__item-body
								a(href="#").card__item-body-info
									.card__item-all Смотреть все статьи


	section.collect
		.inner
			.collect__title Новости #[a(href="#") Все новости]

			.card
				.card__list.card__list_slider(data-slider="4,5")
					+card('news')
					+card('news')
					+card('news')
					+card('news')
					+card('news')
					+card('news')
					+card('news')
					.card__item.card__item_news
						.card__item-inner
							.card__item-body
								a(href="#").card__item-body-info
									.card__item-all Смотреть все новости




block append
