extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form

	section.collect.collect_cat
		.inner
			.collect__title Список готовых страниц

			.collect__inner
				.collect__aside

				.collect__content
					p: a(href='/') Главная
					p: a(href='/parts-catalog.html') Объявления / Каталог разделов
					p: a(href='/adverts-in-category.html') Объявления в категории (сетка/список/короткий список)
					br
					p: a(href='/company-page.html') Страница компании
					p: a(href='/company-page-adverts.html') Страница компании / Объявления
					p: a(href='/company-page-adverts-category.html') Страница компании / Объявления / Категория
					br
					p: a(href='/catalog-of-companies.html') Каталог компаний
					p: a(href='/companies-in-category.html') Компании в категории (сетка/список/короткий список)
					br

					p: a(href='/city-page.html') Страница города
					p: a(href='/city-page-companies.html') Страница города / Компании
					p: a(href='/city-page-adverts.html') Страница города / Объявления
					p: a(href='/city-page-transport.html') Страница города / Объявления / Транспорт

					br
					p: a(href='/city-catalog.html') Каталог городов
					p: a(href='/cities-in-category.html') Города в категории (сетка/список/)

					br
					p: a(href='/organization-news.html') Новости организаций
					p: a(href='/organization-news-views.html') Новости организаций (сетка/список/короткий список)
					br
					p: a(href='/organization-articles.html') Статьи организаций
					p: a(href='/organization-articles-views.html') Статьи организаций (сетка/список/короткий список)
					br
					p: a(href='/news-item.html') Новость
					p: a(href='/article-item.html') Статья
					p: a(href='/product-item.html') Страница продукта
					p: a(href='/text-page.html') Текстовая страница
					p: a(href='/search-results.html') Результаты поиска / Найдено
					p: a(href='/search-results-no.html') Результаты поиска / Не найдено
					p: a(href='/sitemap.html') Карта сайта

					br
					p: span(data-popup-open='#popupLogin') Вход
					p: span(data-popup-open='#popupRegister') Регистрация
					p: span(data-popup-open='#popupPassRecover') Восстановление пароля
					p: span(data-popup-open='#popupNewPass') Новый пароль
					p: span(data-popup-open='#popupSend') Письмо отправлено
					p: span(data-popup-open='#popupPassRecovered') Пароль успешно восстановлен
					p: span(data-popup-open='#popupAddComplaint') Жалоба
					p: span(data-popup-open='#popupAddMessage') Написать сообщение





block append
