extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Статьи организаций

			.collect__inner
				.collect__aside

					aside.aside
						.aside__menu
							+asideItem('Поиск по статьям', 'formSearch')
							+asideItem('<a href="#">Компании</a>', 'subList')
							+asideItem('<a href="#">Объявления</a>', 'subList')
							+asideItem('<a href="#">Статьи</a>')
							+asideItem('<a href="#">Новости</a>')
							+asideItem('<a href="#">Витрина</a>')
							hr
							+asideItem('Популярные темы', 'tagList')

				.collect__content
					.content
						.content__title Статьи организаций

						-for (var i = 0; i < 5; i++)
							.content__subtitle Статьи #[a(href="#").link Все статьи]

							.card
								.card__list.card__list_slider(data-slider="2,3")
									+card('article')
									+card('article')
									+card('article')
									+card('article')
									+card('article')
									+card('article')
									+card('article')



	include content/looked

block append
