extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Торговля и коммерция

			.collect__inner
				.collect__aside

					aside.aside
						.aside__menu
							+asideItem('<a href="#">Транспорт</a>', 'subList')
							+asideItem('<a href="#">Услуги</a>')
							+asideItem('<a href="#">Бытовая электроника</a>', 'subList')
							+asideItem('<a href="#">Для дома и дачи</a>')
							+asideItem('<a href="#">Для бизнеса</a>')
							+asideItem('<a href="#">Животные</a>')
							+asideItem('<a href="#">Хобби и отдых</a>')

				.collect__content
					.content
						.content__title Торговля и коммерция

						-for (var i = 0; i < 7; i++)
							.content__subtitle Последние добавленные объявления #[a(href="#").link Все последние объявления]

							.card
								.card__list.card__list_slider(data-slider="3,4")
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')
									+card('advert')



	include content/looked

block append
