extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')

block content

	//-include content/__examples_form


	.collect.collect_product
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Торговля и коммерция

			.collect__inner

				.collect__content
					.content
						.product
							.product__top
								.product__image
									.product__image-main
										.product__image-item: a(href="../img/picture.jpg"): img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-item: a(href="../img/picture.jpg"): img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-item: a(href="../img/picture.jpg"): img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-item: a(href="../img/picture.jpg"): img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-item: a(href="../img/picture.jpg"): img.img-contain(src="../img/picture.jpg", alt='')
									.product__image-preview
										.product__image-thumbnail: span: img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-thumbnail: span: img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-thumbnail: span: img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-thumbnail: span: img.img-contain(src="../img/picture.jpg", alt='')
										.product__image-thumbnail: span: img.img-contain(src="../img/picture.jpg", alt='')

								.product__about
									.product__about-title
										| Продам автомобиль Nissan недорого Продам автомобиль
										nobr
											a(href="#"): i.ico.ico_stat: include ../img/svg/mark_statistics.svg
											a(href="#"): i.ico.ico_sale: include ../img/svg/mark_sale.svg
									.product__about-info
										span ID 1084129579, размещено сегодня в 13:38
										span 100, сегодня 32
									.product__about-price 999 999 000 руб. #[span / шт.]
									.product__about-control
										a.btn.btn_blue.js-load-phone(data-action='http://headerlink.maestros.ru/data/phone.php?id=123456') +7 (812) 265... Показать телефон
										.btn(data-popup-open='#popupAddMessage')
											.ico: include ../img/svg/ico_edit.svg
											| Написать сообщение



							.product__menu
								.product__menu-item.is-active(data-tab-link="product_info_1", data-tab-group="product_info").is-active Информация
								.product__menu-item(data-tab-link="product_info_2", data-tab-group="product_info") Характеристики
								.product__menu-item(data-tab-link="product_info_3", data-tab-group="product_info") Контакты
								.product__menu-item(data-tab-link="product_info_4", data-tab-group="product_info") Наличие

							div(data-tab-target="product_info_1", data-tab-group="product_info").is-active
								.product__info
									.product__info-title Информация
									.product__table
										.product__table-row
											.product__table-name Предложение на сайте компании
											.product__table-value
												a(href='#') Продам автомобиль Nissan недорого
												a(href='#') Продам автомобил
												a(href='#'): i.ico: include ../img/svg/ico_external.svg
										.product__table-row
											.product__table-name Описание товара
											.product__table-value Осада Мальты в мае-сентябре 1565 года армией султана Османской империи Сулеймана I, пытавшейся захватить остров, в то время занимаемый рыцарским орденом госпитальеров. Осада явилась кульминацией соперничества между христианскими державами и Османской империей за господство в Средиземном море. Победа рыцарей ордена оказала значительное влияние на всю христианскую Европу, принесла ордену огромный престиж и возродила его славу как защитника христианского мира от мусульманской экспансии. Осада стала одним из самых известных событий в истории Европы XVI века. Поражение не имело каких-либо серьезных военных последствий для Османской империи, но подорвало веру в непобедимость османской армии и ознаменовало начало нового периода в истории Средиземноморья — испанского доминирования.

								.product__info
									.product__info-title Контактные данные продавца
									.product__map.js-map#map
										.js-map-item(data-coordinates="59.938434, 30.443008") Какой то текст если нужен #[b 1]
										.js-map-item(data-coordinates="59.964265, 30.254180") Какой то текст если нужен #[b 2]
										.js-map-item(data-coordinates="59.916721, 30.388076") Какой то текст если нужен #[b 3]
										.js-map-item(data-coordinates="59.922237, 30.275466")

										//-script.
											(function () {
												ymaps.ready(function () {
													var map = new ymaps.Map('map', {
															center: [59.938951, 30.315635],
															zoom: 11,
															controls: []
														}),

														placemrkOptions = {
															iconLayout: 'default#image',
															iconImageHref: '../img/svg/ico_ballun.svg',
															iconImageSize: [20, 26],
															iconImageOffset: [-10, -26]
														}
													;

													map.geoObjects.add(new ymaps.Placemark(["59.938434", "30.443008"], {}, placemrkOptions));
													map.geoObjects.add(new ymaps.Placemark(["59.964265", "30.254180"], {}, placemrkOptions));
													map.geoObjects.add(new ymaps.Placemark(["59.916721", "30.388076"], {}, placemrkOptions));
													map.geoObjects.add(new ymaps.Placemark(["59.922237", "30.275466"], {}, placemrkOptions));

													map.behaviors.disable('scrollZoom');
													map.behaviors.disable('multiTouch');
													// map.behaviors.disable('drag');
													;
												});
											})();

								.product__info
									.product__info-title Адреса, где предоставляется услуга
									.product__table
										.product__table-row
											.product__table-name Офис
											.product__table-value
												.product__table-toggle Мастерская на Ватунина
												.product__table-inner
													.product__table
														.product__table-row
															.product__table-name Адрес
															.product__table-value Санкт-Петербург, ул.Крыленко 25/4 #[a(href="#", data-onmap="59.938434, 30.443008") Показать на карте]
														.product__table-row
															.product__table-name Телефон
															.product__table-value 540-84-74
														.product__table-row
															.product__table-name E-mail
															.product__table-value lodka@bibika.ru

														.product__table-row
															.product__table-name Сайт
															.product__table-value bibika.ru/vatunina

														.product__table-row
															.product__table-name Описание
															.product__table-value Ремонт лодок на Ватунина, приезжай, налетай

										.product__table-row
											.product__table-name Точка продаж/ оказание услуг
											.product__table-value
												.product__table-toggle Мастерская на Ватунина
												.product__table-inner
													.product__table
														.product__table-row
															.product__table-name Адрес
															.product__table-value Санкт-Петербург, ул.Крыленко 25/4 #[a(href="#", data-onmap="59.964265, 30.254180") Показать на карте]
														.product__table-row
															.product__table-name Телефон
															.product__table-value 540-84-74
														.product__table-row
															.product__table-name E-mail
															.product__table-value lodka@bibika.ru

														.product__table-row
															.product__table-name Сайт
															.product__table-value bibika.ru/vatunina

														.product__table-row
															.product__table-name Описание
															.product__table-value Ремонт лодок на Ватунина, приезжай, налетай

										.product__table-row
											.product__table-name Склад
											.product__table-value
												.product__table-toggle Мастерская на Ватунина
												.product__table-inner
													.product__table
														.product__table-row
															.product__table-name Адрес
															.product__table-value Санкт-Петербург, ул.Крыленко 25/4 #[a(href="#", data-onmap="59.916721, 30.388076") Показать на карте]
														.product__table-row
															.product__table-name Телефон
															.product__table-value 540-84-74
														.product__table-row
															.product__table-name E-mail
															.product__table-value lodka@bibika.ru

														.product__table-row
															.product__table-name Сайт
															.product__table-value bibika.ru/vatunina

														.product__table-row
															.product__table-name Описание
															.product__table-value Ремонт лодок на Ватунина, приезжай, налетай

							div(data-tab-target="product_info_2", data-tab-group="product_info")
								.product__info
									.product__info-title Характеристики
							div(data-tab-target="product_info_3", data-tab-group="product_info")
								.product__info
									.product__info-title Контакты
							div(data-tab-target="product_info_4", data-tab-group="product_info")
								.product__info
									.product__info-title Наличие

				.collect__aside
					aside.aside
						.aside__menu
							.card: .card__list: +card('company')

	section
		.inner
			.collect__title Последние добавленные объявления #[a(href="#") Все последние объявления]

			.card
				.card__list.card__list_slider(data-slider="4, 5")
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')
					+card('advert')

	include content/looked

block append
