extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Результаты поиска

			.collect__inner

				.collect__content.collect__content_wide
					.content
						article.article
							//-.article__head
								h1.article__title Карта сайта
							.article__content

								br
								br
								h1 По запросу #[span.c-blue «jugifuy»] ничего не найдено

								p Попробуйте изменить условия поиска. #[br] Или перейдите на #[a(href="#") страницу всех объявлений] о продаже.

								br
								h2 Посмотрите интересующие запросы в популярных категориях:

								.article__half
									.article__half-item
										.menu-local
											.menu-local__logo: img.img-contain(src='../img/mburns.png')
											.menu-local__content
												.menu-local__content-nav: a(href='#') Торговля и коммерция #[span 1 387 350]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Сельское хозяйство #[span 5 543]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Интернет и IT технологии #[span 17 350]


									.article__half-item
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Торговля и коммерция #[span 1 387 350]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Сельское хозяйство #[span 5 543]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Интернет и IT технологии #[span 17 350]







block append
