extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Карта сайта

			.collect__inner

				.collect__content.collect__content_wide
					.content
						article.article
							.article__head
								h1.article__title Карта сайта
							.article__content

								h2 Категории

								p
									.menu-local
										.menu-local__logo
										.menu-local__content
											.menu-local__content-title Торговля и коммерция #[span 1 387 350]
											.menu-local__content-links
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
									.menu-local
										.menu-local__logo: img.img-contain(src='../img/mburns.png')
										.menu-local__content
											.menu-local__content-title Сельское хозяйство #[span 5 543]
											.menu-local__content-links
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
									.menu-local
										.menu-local__logo: img.img-contain(src='../img/mburns.png')
										.menu-local__content
											.menu-local__content-title Интернет и IT технологии #[span 17 350]
											.menu-local__content-links
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
									.menu-local
										.menu-local__logo: img.img-contain(src='../img/mburns.png')
										.menu-local__content
											.menu-local__content-title Промышленность и производство #[span 33 350]
											.menu-local__content-links
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
									.menu-local
										.menu-local__logo: img.img-contain(src='../img/mburns.png')
										.menu-local__content
											.menu-local__content-title Торговля и коммерция #[span 1 387 350]
											.menu-local__content-links
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры
												a(href='#') Вторичное
												a(href='#') 2-комнатные
												a(href='#') Все квартиры


								h2 Разделы сайта
									ul.parts
										li: a(href='#') Торговля и коммерция
										li: a(href='#') Еще раздел
										li: a(href='#') Еще раздел подлиннее
										li: a(href='#') Еще раздел
										li: a(href='#') Торговля и коммерция
										li: a(href='#') Еще раздел
										li: a(href='#') Еще раздел подлиннее
										li: a(href='#') Еще раздел
									ul.parts
										li: a(href='#') Торговля и коммерция
										li: a(href='#') Еще раздел
										li: a(href='#') Еще раздел подлиннее
										li: a(href='#') Еще раздел
										li: a(href='#') Торговля и коммерция
										li: a(href='#') Еще раздел
										li: a(href='#') Еще раздел подлиннее
										li: a(href='#') Еще раздел




				//-.collect__aside
					aside.aside
						.aside__menu
							.card: .card__list: +card('company')
						.aside__menu
							+asideItem('Темы', 'tagShort')



block append
