extends layout/template

block vars
	- var login = true;
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content

	//-include content/__examples_form


	.collect.collect_page
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs-item Главная
				.breadcrumbs-item Торговля и коммерция

			.collect__inner

				.collect__aside
					aside.aside
						.aside__menu
							+asideItem('<a href="#">Транспорт</a>', 'subList')
							+asideItem('<a href="#">Услуги</a>')
							+asideItem('<a href="#">Бытовая электроника</a>', 'subList')
							+asideItem('<a href="#">Для дома и дачи</a>')
							+asideItem('<a href="#">Для бизнеса</a>')
							+asideItem('<a href="#">Животные</a>')
							+asideItem('<a href="#">Хобби и отдых</a>')

				.collect__content
					.content
						article.article
							.article__head
								h1.article__title Поддержка

							.article__content

								.article__half
									.article__half-item
										h2 Поиск по разделу
										p
											.search
												input.search-input.js-cities-search(type='text', name='search', placeholder="Найти")
												.search-ico: include ../img/svg/ico_lens.svg
												.search-clear: include ../img/svg/ico_close.svg

									.article__half-item
										h2 Техподдержка

										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-text: a(href='#') Чат с оператором
												.menu-local__content-text: span.c-green online

										ul.attention
											li Online пн-вс 08:00 - 19:00 #[br]Если оператор ofline, ответ придет на след.день

								hr

								h2 Топ вопросов

								.article__half
									.article__half-item
										.menu-local
											.menu-local__logo: img.img-contain(src='../img/mburns.png')
											.menu-local__content
												.menu-local__content-nav: a(href='#') Торговля и коммерция #[span 1 387 350]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Сельское хозяйство #[span 5 543]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Интернет и IT технологии #[span 17 350]


									.article__half-item
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Торговля и коммерция #[span 1 387 350]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Сельское хозяйство #[span 5 543]
										.menu-local
											.menu-local__logo
											.menu-local__content
												.menu-local__content-nav: a(href='#') Интернет и IT технологии #[span 17 350]

								hr

								h2 Регистрация

								ol
									li Введите ваше имя и адрес электронной почты, который вы сможете сразу же проверить.*
									li Создайте пароль и введите его повторно.
									li Введите цифры, которые вы видите на изображении.
									li Ознакомьтесь с условиями нашего Пользовательского соглашения и Уведомления о защите конфиденциальности и подтвердите свое согласие.

								h3 Проверьте электронную почту

								ul.attention
									li Если вы потеряли электронное сообщение о регистрации или оно не было доставлено, мы можем заново отправить это сообщение.


								p
									img(src='../img/picture.jpg', alt='')

								p Этим летом проекты у них уже заказывали для главных выставок фонда V-A-C и музея «Гараж», которых часто называют конкурентами, претендующими на лидерство в российском независимом искусстве. Триумфальный путь, проделанный за небольшой срок всего в полтора года, намечался с конца 90-х. Художники Шифра Каждан, Леша Лобанов, Ксения Перетрухина и продюсер Александра Мун дружат почти 20 лет и кажутся реальными и лучшими версиями героев романа «Маленькая жизнь» Ханьи Янагихары или сериала «Девочки». Они работают на стыке театра и современного искусства, медленно, но верно сплавляя эти два круга. The Village встретился с «Театром взаимных действий» и рассказывает, как увидеть за немного наивной интонацией их работ настоящее новаторство.

								p
									img(src='../img/picture.jpg', alt='')


block append
