.selectize{
	&-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
		visibility: visible !important;
		//background: #f2f2f2 !important;
		//background: rgba(0, 0, 0, 0.06) !important;
		//border: 0 none !important;
		//box-shadow: inset 0 0 12px 4px #fff;
	}

	&-control.plugin-drag_drop .ui-sortable-placeholder::after {
		content: '!';
		visibility: hidden;
	}

	&-control.plugin-drag_drop .ui-sortable-helper {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}

	&-dropdown-header {
		position: relative;
		//padding: 5px 8px;
		//border-bottom: 1px solid #d0d0d0;
		//background: #f8f8f8;
		//border-radius: 3px 3px 0 0;
	}



	&-dropdown-header-close {
		position: absolute;
		right: 8px;
		top: 50%;
		//color: #303030;
		opacity: 0.4;
		margin-top: -12px;
		line-height: 20px;
		//font-size: 20px !important;
	}
	&-dropdown-header-close:hover {
		color: #000000;
	}
	&-dropdown.plugin-optgroup_columns .optgroup {
		border-right: 1px solid #f2f2f2;
		border-top: 0 none;
		float: left;
		box-sizing: border-box;
	}
	&-dropdown.plugin-optgroup_columns .optgroup:last-child {
		border-right: 0 none;
	}
	&-dropdown.plugin-optgroup_columns .optgroup:before {
		display: none;
	}
	&-dropdown.plugin-optgroup_columns .optgroup-header {
		border-top: 0 none;
	}
	&-control.plugin-remove_button [data-value] {
		position: relative;
		padding-right: 24px !important;
	}
	&-control.plugin-remove_button [data-value] .remove {
		z-index: 1;
		/* fixes ie bug (see #392) */
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 17px;
		text-align: center;
		//font-weight: bold;
		//font-size: 12px;
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
		display: inline-block;
		padding: 2px 0 0 0;
		border-left: 1px solid #d0d0d0;
		border-radius: 0 2px 2px 0;
		box-sizing: border-box;
	}
	&-control.plugin-remove_button [data-value] .remove:hover {
		//background: rgba(0, 0, 0, 0.05);
	}
	&-control.plugin-remove_button [data-value].active .remove {
		//border-left-color: #cacaca;
	}
	&-control.plugin-remove_button .disabled [data-value] .remove:hover {
		//background: none;
	}
	&-control.plugin-remove_button .disabled [data-value] .remove {
		//border-left-color: #ffffff;
	}
	&-control.plugin-remove_button .remove-single {
		position: absolute;
		right: 0;
		top: 0;
		//font-size: 23px;
	}
	&-control {
		position: relative;
	}
	&-dropdown{
		color: #000;
	}
	&-input,
	&-input input {
		//color: #fff;
		font-family: inherit;
		//font-size: 13px;
		//line-height: 18px;
		-webkit-font-smoothing: inherit;
	}
	&-input,
	&-control.single .selectize-input.input-active {

		border-color: $formColorFocus;
		cursor: text;
		//display: inline-block;
	}
	&-input {
		font-size: 0;

		.item{
			font-size: 14px;
		}
	}
	&-control.multi .selectize-input.has-items {
		//padding: 6px 8px 3px;
	}
	&-input.full {
		//background-color: #fff;
	}
	&-input.disabled,
	&-input.disabled * {
		cursor: default !important;
	}
	&-input.focus {
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);

		& ~ .form__placeholder{
			opacity: 0;
		}
	}
	&-input.dropdown-active {
		//border-radius: 45px 45px 0 0;
		//
		//@include breakPoint($breakPoint){
		//	border-radius: 30px 30px 0 0;
		//}
	}
	&-input > * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	&-control.multi .selectize-input > div {
		cursor: pointer;
		//margin: 0 3px 3px 0;
		//padding: 2px 6px;
		//background: #f2f2f2;
		//color: #303030;
		//border: 0 solid #d0d0d0;
	}
	&-control.multi .selectize-input > div.active {
		//background: #e8e8e8;
		//color: #303030;
		//border: 0 solid #cacaca;
	}
	&-control.multi .selectize-input.disabled > div,
	&-control.multi .selectize-input.disabled > div.active {
		//color: #7d7d7d;
		//background: #ffffff;
		//border: 0 solid #ffffff;
	}
	&-input > input {
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: 0 2px 0 0 !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		box-shadow: none !important;
		position: absolute;
		top: 0!important;
		bottom: 0!important;
		left: 50px!important;
		right: 50px!important;
		width: auto !important;


	}
	&-input > input::-ms-clear {
		display: none;
	}
	&-input > input:focus {
		outline: none !important;
	}
	&-input::after {
		content: ' ';
		display: block;
		clear: left;
	}
	&-input.dropdown-active::before {
		content: ' ';
		display: block;
		position: absolute;
		//background: #f0f0f0;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&-dropdown {
		position: absolute;
		z-index: 10;
		border: 1px solid #d0d0d0;
		background: #fff;
		margin: -1px 0 0 0;
		border-top: 0 none;
		box-sizing: border-box;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 0 0 3px 3px;
	}
	&-dropdown [data-selectable] {
		cursor: pointer;
		overflow: hidden;
	}
	&-dropdown [data-selectable] .highlight {
		background: rgba(125, 168, 208, 0.2);
		border-radius: 1px;
	}
	&-dropdown .option,
	&-dropdown .optgroup-header {
		padding: 5px 8px;
		cursor: pointer;
	}
	&-dropdown .option,
	&-dropdown [data-disabled],
	&-dropdown [data-disabled] [data-selectable].option {
		//cursor: inherit;
		opacity: 0.5;
	}
	&-dropdown [data-selectable].option {
		opacity: 1;
	}
	&-dropdown .optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	&-dropdown .optgroup-header {
		color: #303030;
		//background: #fff;
		cursor: default;
	}
	&-dropdown .active {
		background-color: #65c3fd !important;
		color: #fff!important;
	}
	&-dropdown .active.create {
		color: #495c68;
	}
	&-dropdown .create {
		color: rgba(48, 48, 48, 0.5);
	}
	&-dropdown-content {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 200px;
		-webkit-overflow-scrolling: touch;
	}
	&-control.single .selectize-input,
	&-control.single .selectize-input input {
		cursor: pointer;
	}
	&-control.single .selectize-input.input-active,
	&-control.single .selectize-input.input-active input {
		cursor: text;
	}
	&-control.single .selectize-input:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		right: 35px;
		margin-top: -6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 12px 0 12px;
		border-color: #fff transparent transparent;


	}
	&-control.single .selectize-input.dropdown-active:after {
		margin-top: -10px;
		border-width: 0 12px 12px 12px;
		border-color: transparent transparent #fff transparent;


	}
	&-control .selectize-input.disabled {
		opacity: 0.5;
		//background-color: #fafafa;
	}

}


